<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<div lang="en" th:replace="General/nav :: head"></div>
<meta charset="utf-8">
<title>Admin Page</title>
<nav th:include="General/nav :: nav"></nav>
</head>
<body>
	<br>
	<div class="container-fluid">
		<div class="row justify-content-center mb-1">
			<div class="col-12">
				<h1 style="text-align: center;">User List</h1>
			</div>
			<div class="col-4 offset-9">
				<a href="#addUser" class="btn btn-primary"> Add User </a>
			</div>
		</div>
		<div class="row justify-content-center ">
			<div class="col-8">
				<table class="table" style="text-align: center;">
					<thead class="bg-primary">
						<tr>
							<th scope="col"></th>
							<th scope="col">Full Name</th>
							<th scope="col">User Name</th>
							<th scope="col">Role</th>
							<th scope="col">Date of Birth</th>
							<th scope="col">Email</th>
						</tr>
					</thead>
					<tbody>
						<!-- <tr th:each="user : ${userList}" th:onclick="'location.href=/admin/user/read/\''+${user.getUserID()}+'\'"> -->
						<tr th:each="user: ${userList}">
							<td scope="col"><a
								th:href="@{admin/delUser/}+ ${user.getUsername()}"><i
									id="logo" class="fas fa-user-minus"></i></a>
							</th>
							<td th:text="${user.getLastName()}+ ' ' +${user.getFirstName()}"
								scope="row"></td>
							<td th:text="${user.getUsername()}"></td>
							<td th:text="${user.getRoleID()}"></td>
							<td th:text="${user.getDOB()}"></td>
							<td th:text="${user.getEmail()}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Pop up -->
	<div class="text-center overlay" id="addUser">
		<br> <br>
		<div class="container p-3 rounded col-sm-10 col-md-7 col-lg-6">
			<div class="shadow border bg-white rounded">
				<br> <span class="loginBrand">On Scout</span> <br>
				<h1 class="loginTitle textcolor">Add User</h1>
				<hr>
				<br>
				<div class="container">
					<form th:object="${addUser}" th:action="@{/admin/createUser}" method="POST">
						<div class="container">
							<div class="form-row justify-content-center">
								<div class="form-group col-md-4">
								<!-- th:field="*{roleID} " -->
									<label for="inputState">User type</label> <select
										 id="userType" class="form-control">
										<option th:value="1" selected>Scout</option>
										<option th:value="2">Scouter</option>
									</select>
								</div>
							</div>
							<div class="form-group row ">
								<label for="Username" class="col-sm-12 col-form-label textcolor">Username
								</label>
								<div class="col-sm-12">
									<input type="text" class="form-control" id="Username"
										name="username" placeholder="Username" 
										required><!-- th:value="*{username}" -->
								</div>
								<label for="Password" class="col-sm-12 col-form-label textcolor">Password
								</label>
								<div class="col-sm-12">
									<input type="Password" class="form-control" id="Password"
										name="Password" placeholder="Password" 
										required><!-- th:value="*{password}" -->
								</div>
							</div>
							<br>
							<button type="submit" class="btn btn-primary col-sm-12">Submit</button>
							<a th:href="@{scoutProfile}" class="btn btn-link col-sm-12">Cancel</a>

						</div>
						<br> <br>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
