<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<div lang="en" th:replace="General/nav :: head"></div>
<meta charset="utf-8">
<title>Admin Page</title>
<nav th:include="General/nav :: nav"></nav>
</head>
<body>
<br>
	<div class="container">
		<div class="row justify-content-center ">
			<div class="col-10">
				<h1 style="text-align: center;">User List</h1>
			</div>
			<div class="col-2">
				<a href="user/create" class="btn btn-primary">
					<h5>Create New Member</h5>
				</a>
			</div>
			<div class="col-8">
				<table class="table" style="text-align: center;">
					<thead class="bg-primary">
						<tr>
							<th scope="col">Full Name</th>
							<th scope="col">User Name</th>
							<th scope="col">Role</th>
							<th scope="col">Date of Birth</th>
							<th scope="col">Email</th>
						</tr>
					</thead>
					<tbody>
						<!-- <tr th:each="user : ${userList}" th:onclick="'location.href=/admin/user/read/\''+${user.getUserID()}+'\'"> -->
						<tr th:each="user: ${userList}" >
							<td th:text="${user.getLastName()}+ ' ' +${user.getFirstName()}" scope="row"></td>
							<td th:text="${user.getUsername()}"></td>
							<td th:text="${user.getRoleID()}"></td>
							<td th:text="${user.getDOB()}"></td>
							<td th:text="${user.getEmail()}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
