

<span th:fragment="award2">
	<div th:open="${openSSA}" class="popup" id="standardAwardInfo">
		<br> <br>
		<div class="container p-3 rounded col-sm-11 col-md-9 col-lg-7">
			<div class="shadow  bg-white rounded positionRelative">
				<b class="bgSSA text-white SPB ">Scout Progressive Badge</b> <a
					href="mainpage"> <img class="Xsize rounded float-right"
					src="/onScout/images/X_scoutStandardAward.png">
				</a> <br> <br> <br>
				<h2 class="textSSA text-center font-weight-bold col-12">Scout
					Standard Award</h2>
				<div class="container row">
					<div class="offset-1 col-2">
						<img class="awardSize rounded float-left "
							src="/onScout/images/scoutStandardAward.png">
					</div>
					<div class="offset-1 col-8">
						<div class="container" id="SSA20000">
							<div class="col-6 textSSA noPadding">
								Data Completed: <span class="textIn noPadding"></span>
							</div>
						</div>
						<br>
						<div class="col-11 bgSSA infoRadius text-white textJustify">For
							Scouts who have completed the Pathfinder Award, or aged 13 or
							above who have attained the Membership badge and have completed
							the Outdoor Challenge section of the Pathfinder Award. Sea Scouts
							must choose 'Sea Activities' whereas Air Scouts must choose 'Air
							Activities' from the electives. Other Scout must follow the same
							elective as for their Scout Pathfinder Award.</div>
					</div>
				</div>
				<br>
				<h2 class="textSSA text-center font-weight-bold col-12">Task</h2>
				<div class="container" style="padding-bottom: 10px;">
					<div class="row">
						<div class="offset-1 col-10">
							<div id="task">

								<!-- Outdoor Challenge -->
								<div class="panel panel-default">

									<div class="bgSSA infoRadius panel-heading">
										<h5 class="font-weight-bold text-center">
											<a class="text-white noUnderline" data-toggle="collapse"
												data-parent="#task" href="#outdoorChallenge">Outdoor
												Challenge</a>
										</h5>
									</div>


									<div id="outdoorChallenge" class="panel-collapse collapse in">
										<!-- Sub-task: Camp Craft -->
										<div class="container textSSA textTask">
											<div id="SSA21100" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Camp craft</div>
													(Completed on <span class="textIn"></span>)
												</div>
											</div>

											<div id="SSA21110" class="row lineHeight">
												<div class="col-9 spaceIn">Participate in a scout camp
													and share the experience with others using articles,
													speeches, videos/photos or other means.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21120" class="row lineHeight">
												<div class="col-9 spaceIn noPaddingButtom">
													Pitch, pack and store a tent <br>
													<div class="spaceIn noPaddingButtom">Know the
														different types of tents;</div>
													<div class="spaceIn noPaddingButtom">Demonstrate
														pitching, packing and storing them.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21130" class="row lineHeight">
												<div class="col-9 spaceIn">Complete at least 4 camping
													gadgets as a member in a patrol, such as setting the
													boundary, a camp gate, a hanging rack, rubbish processing
													facility etc.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21140" class="row lineHeight">
												<div class="col-9 spaceIn noPaddingButtom">
													Demonstrate how to start a fire using natural material /
													wood <br>
													<div class="spaceIn noPaddingButtom">Understand the
														elements of a fire, identify natural materials which can
														be used as fuel;</div>
													<div class="spaceIn noPaddingButtom">Demonstrate
														setting up the wood and material and start a fire;</div>
													<div class="spaceIn noPaddingButtom">Use the fire to
														boil water.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21150" class="row lineHeight">
												<div class="col-9 spaceIn noPaddingButtom">
													Know and experience outdoor cooking <br>
													<div class="spaceIn">cook a simple dish, make a hot
														drink and clean up afterwards.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Camp Craft -->
										<!-- Sub-task: Adventure -->
										<div class="container textSSA textTask">
											<div id="SSA21200" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Adventure</div>
													(Completed on <span class="textIn"></span>)
												</div>
											</div>

											<div id="SSA21210" class="row lineHeight">
												<div class="col-9 spaceIn">Complete a journey of at
													least 12 km on foot or 18 km by bicycle or boat. Share the
													experience using articles, speeches, videos/photos or other
													means.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21220" class="row lineHeight">
												<div class="col-9 spaceIn noPaddingButtom">
													Understand scale and distance <br>
													<div class="spaceIn noPaddingButtom">Point out 2
														types of scales used on maps;</div>
													<div class="spaceIn noPaddingButtom">Identify the
														relationship between scale and distance;</div>
													<div class="spaceIn noPaddingButtom">Demonstrate how
														to convert between actual distance and distance on a map.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21230" class="row lineHeight">
												<div class="col-9 spaceIn">Demonstrate how to position
													a map and its purpose; and use topography, landscape,
													landmarks and compass to position a map correctly in
													countryside.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21240" class="row lineHeight">
												<div class="col-9 spaceIn noPaddingButtom">
													Use a compass and map to identify your location <br>
													<div class="spaceIn noPaddingButtom">Understand the
														grid north, magnetic north, true north and the coordinate
														system;</div>
													<div class="spaceIn noPaddingButtom">Demonstrate
														using a map and compass to identify your location;</div>
													<div class="spaceIn noPaddingButtom">Demonstrate how
														to locate yourself using 4-digit and 6-digit coordinates.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Adventure -->
										<!-- Sub-task: Pioneering -->
										<div class="container textSSA textTask">
											<div id="SSA21300" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Pioneering</div>
													(Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="SSA21310" class="row lineHeight">
												<div class="col-9 spaceIn">Demonstrate how to tie the
													square lashing, diagonal lashing, figure of eight lashing,
													shear lashing and shear leg; and state their uses.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21320" class="row lineHeight">
												<div class="col-9 spaceIn noPaddingButtom">
													Follow the safety guidelines for pioneering <br>
													<div class="spaceIn">Learn and follow the safety
														guidelines during a pioneering activity.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21330" class="row lineHeight">
												<div class="col-9 spaceIn">Conduct a pioneering
													activity using knots, hitches and lashings, e.g. scout
													staff ballista, bouncing bazooka, guided missile launcher
													or patrol swing bridge etc.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Pioneering -->
										<!-- Sub-task: Outdoor activities (Elective) -->
										<div class="container textSSA textTask">
											<div id="SSA21400" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Outdoor activities (Elective)</div>
													(Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="SSA21410" class="row lineHeight">
												<div class="col-9 spaceIn">Complete the 'Outdoor
													activities' under the Pathfinder Award.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21420" class="row lineHeight">
												<div class="col-9 spaceIn">Attain a proficiency badge
													related to outdoor activities, such as Park Orienteering
													(Interest), Naturalist (Interest), Geologist (Interest),
													Footdrill (Interest) etc.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21430" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">Complete
													one of the following, which was not used in attaining
													previous progress badge:</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="SSA21421" class="row">
												<div class="col-9 spaceIn2  noPaddingButtom">
													City-tracking<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21422" class="row lineHeight">
												<div class="col-9 spaceIn2">
													A communication activity involving the use of codes,
													semaphores or similar means of communication. <br>
												</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
										</div>
										<!-- Sub-task: Outdoor activities (Elective) -->
										<!-- Sub-task: Sea activities (Elective) -->
										<div class="container textSSA textTask">
											<div id="SSA21500" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Sea activities (Elective)</div>
													(Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="SSA21510" class="row lineHeight">
												<div class="col-9 spaceIn">Complete the Sea activities
													under the Pathfinder Award.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21520" class="row lineHeight">
												<div class="col-9 spaceIn">Attain the Boatman badge.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21530" class="row lineHeight">
												<div class="col-9 spaceIn">Take part in a Sea activity
													other than the Standard Boat at a Scout Sea Activity
													Centre.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Sea activities (Elective) -->
										<!-- Sub-task: Air activities (elective) -->
										<div class="container textSSA textTask">
											<div id="SSA21600" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Air activities (elective)</div>
													(Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="SSA21610" class="row lineHeight">
												<div class="col-9 spaceIn">Complete the Air activities
													under the Pathfinder Award.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21620" class="row lineHeight">
												<div class="col-9 spaceIn">Attain the Basic Air
													Activity Badge.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21630" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">Complete
													one item :</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="SSA21631" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Understand how wind affects flying activities;<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA21632" class="row noPaddingButtom">
												<div class="col-9 spaceIn2">
													Understand the aviation law related to flight safety<br>
												</div>
												<span class="offset-1 col-2 textIn  lineHeight"></span>
											</div>
										</div>
										<!-- Sub-task: Air activities (elective) -->
									</div>
								</div>
								<!-- Outdoor Activities -->

								<!-- Personal Development -->
								<div class="panel panel-default">
									<div class="bgSSA infoRadius panel-heading">
										<h5 class="font-weight-bold text-center">
											<a class="text-white noUnderline" data-toggle="collapse"
												data-parent="#task" href="#personalDevelopment">Personal
												Development</a>
										</h5>
									</div>


									<div id="personalDevelopment"
										class="panel-collapse collapse in">
										<!-- task: Physical Fitness -->
										<div class="container textSSA textTask">
											<div id="SSA22100" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Physical Fitness</div>
													(Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="SSA22110" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">Complete
													one item :</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="SSA22111" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Attain a proficiency badge related to physical fitness,
													e.g, Sportsman (Interest), Cyclist (Interest), Archery
													(Interest), Swimmer (Interest) or Canoeist (Interest) etc;<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA22112" class="row noPaddingButtom">
												<div class="col-9 spaceIn2 noPaddingButtom">
													Plan and prepare a meal<br>
													<div class="spaceIn noPaddingButtom">
														Understand the importance of a balanced diet;<br>
													</div>
													<div class="spaceIn noPaddingButtom">
														Design a menu for a meal following the recommendations of
														a food pyramid;<br>
													</div>
													<div class="spaceIn noPaddingButtom">
														Cook the meal with your patrol member.<br>
													</div>
												</div>
												<span class="offset-1 col-2 textIn  lineHeight"></span>
											</div>
										</div>
										<!-- task: Physical Fitness -->
										<!-- task: Art, Creativity and Technology -->
										<div class="container textSSA textTask">
											<div id="SSA22200" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Art, Creativity and Technology</div>
													(Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="SSA22210" class="row lineHeight">
												<div class="col-9 spaceIn">Take part in a campfire or
													lantern night.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA22220" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">Complete
													one item :</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="SSA22221" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Attain a proficiency badge related to art and creativity,
													which was not used in attaining previous progressive badge
													e.g. Artist (Interest), Modelmaker (Interest), Music
													(Interest), Craftsman (Pursuit) etc.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA222222" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Attend an arts performance.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA22223" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Visit an art exhibition.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA22224" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Sing your patrol song.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA22225" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Visit a science exhibition.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA22226" class="row noPaddingButtom">
												<div class="col-9 spaceIn2 noPaddingButtom">
													Make a electronic tool<br>
													<div class="spaceIn noPaddingButtom">
														State its use and how it works.<br>
													</div>
												</div>
												<span class="offset-1 col-2 textIn  lineHeight"></span>
											</div>
										</div>
										<!-- task: Art, Creativity and Technology -->
										<!-- task: Leadership -->
										<div class="container textSSA textTask">
											<div id="SSA22300" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Leadership</div>
													(Completed on <span class="textIn"></span>)
												</div>
											</div>

											<div id="SSA22310" class="row lineHeight">
												<div class="col-9 spaceIn">Participate in one Patrol
													activity (indoor or outdoor).</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- task: Leadership -->
										<!-- task: Spiritual Development -->
										<div class="container textSSA textTask">
											<div id="SSA22400" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Spiritual Development</div><br> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="SSA22410" class="row lineHeight">
												<div class="col-9 spaceIn">Take part in a Scouts' own.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA22420" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">Complete
													one item :</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="SSA22421" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Introduce a religion to your patrol, including its
													historical background and traditions etc.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SSA22422" class="row noPaddingButtom lineHeight">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Introduce a belief to your patrol, such as views on life,
													values , world views and world harmony etc.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- task: Spiritual Development -->
									</div>
									<!-- Personal Development -->
									<!-- Society -->
									<div class="panel panel-default">
										<div class="bgSSA infoRadius ">
											<h5 class="font-weight-bold text-center">
												<a class="text-white noUnderline" data-toggle="collapse"
													data-parent="#task" href="#society">Society</a>
											</h5>
										</div>
										<div id="society" class="panel-collapse collapse in">
											<!-- task: Service -->
											<div class="container textSSA textTask">
												<div id="SSA23100" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<div>Service</div>
														(Completed on <span class="textIn"></span>)
													</div>
												</div>

												<div id="SSA23110" class="row lineHeight">
													<div class="col-9 spaceIn">
														Demonstrate how to conduct a basic diagnosis of an injury
														and how to make a call for emergency services during an
														accident.<br>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
												<div id="SSA23120" class="row noPaddingButtom">
													<div class="col-9 spaceIn">
														Pack a personal first-aid kit suitable for a 1-day outdoor
														activity
														<div class="spaceIn noPaddingButtom">
															Know how to use the items in the kit.<br>
														</div>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
												<div id="SSA23130" class="row noPaddingButtom">
													<div class="col-9 spaceIn">
														Know and participate in community activities
														<div class="spaceIn noPaddingButtom">
															State the importance of participating in community
															activities;<br>
														</div>
														<div class="spaceIn noPaddingButtom">
															Identify the needs of the communities where your live in
															or where your troop is based in;<br>
														</div>
														<div class="spaceIn noPaddingButtom">
															The 8type of community events that can be planned.<br>
														</div>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
												<div id="SSA23140" class="row noPaddingButtom">
													<div class="col-9 spaceIn">Complete service of at
														least 8 hours approved by the Scout Leader, District,
														Region or Association headquarters. Record the details of
														the service, such as the organization, targets, time and
														location in the service.</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
											</div>
											<!-- task: Service -->
											<!-- task: Community and local awareness -->
											<div class="container textSSA textTask">
												<div id="SSA23200" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<div>Community and local awareness</div>
														(Completed on <span class="textIn"></span>)
													</div>
												</div>
												<div id="SSA23210" class="row lineHeight">
													<div class="col-9 spaceIn">Participate in or be an
														audience in local cultural practices or traditional
														festivals, e.g. dragon dance, lion dance, Piu-sik Parade,
														dragon boat racing, fire dragon dance, Chinese operas for
														Deities, blessing, and the Cantonese Operas etc.</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
											</div>
											<!-- task: Community and local awareness -->
											<!-- task: Knowing the world -->
											<div class="container textSSA textTask">
												<div id="SSA23300" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<div>Knowing the world</div>
														(Completed on <span class="textIn"></span>)
													</div>
												</div>
												<div id="SSA23310" class="row noPaddingButtom lineHeight">
													<div class="col-9 spaceIn">
														Introduce a foreign activity or culture
														<div class="spaceIn noPaddingButtom">
															Learn a foreign activity or culture, e.g. songs, games,
															activity, language etc; and share it with your patrol
															members.<br>
														</div>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
											</div>
											<!-- task: Knowing the world -->
										</div>
									</div>
									<!-- Society -->

									<!-- Environment -->
									<div class="panel panel-default">
										<div class="bgSSA infoRadius">
											<h5 class="font-weight-bold text-center">
												<a class="text-white noUnderline" data-toggle="collapse"
													data-parent="#task" href="#environment"> Environment</a>
											</h5>
										</div>

										<div id="environment" class="panel-collapse collapse in">
											<!-- task: Ecological environment -->
											<div class="container textSSA textTask">
												<div id="SSA24100" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<div>Ecological environment</div>
														(Completed on <span class="textIn"></span>)
													</div>
												</div>
												<div id="SSA24110" class="row lineHeight">
													<div class="col-9 spaceIn">Introduce the food chain,
														biological networks and ecological cycle using drawing,
														electronic media or other means.</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
											</div>
											<!-- task: Ecological environment -->
											<!-- task: Meterology -->
											<div class="container textSSA textTask">
												<div id="SSA24200" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<div>Meterology</div>
														(Completed on <span class="textIn"></span>)
													</div>
												</div>
												<div id="SSA24210" class="row noPaddingButtom">
													<div class="col-9 spaceIn  noPaddingButtom">Complete
														one item out of the following:</div>
													<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
												</div>
												<div id="SSA24211" class="row noPaddingButtom">
													<div class="col-9 spaceIn2  noPaddingButtom">
														Introduce the measurement of wind speed and wind
														directions using drawings, model making or other means and
														explain the principles behind;<br>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
												<div id="SSA24222" class="row noPaddingButtom lineHeight">
													<div class="col-9 spaceIn2  noPaddingButtom">
														Introduce the formation of clouds and 10 basic types of
														clouds by using drawings, videos/photos, electronic media
														or other means. Explain the water cycle.<br>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
											</div>
											<!-- task: Meterology -->
											<!-- task: Crisis and protection -->
											<div class="container textSSA textTask">
												<div id="SSA24300" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<div>Crisis and protection</div>
														(Completed on <span class="textIn"></span>)
													</div>
												</div>
												<div id="SSA24310" class="row noPaddingButtom">
													<div class="col-9 spaceIn  noPaddingButtom">Complete
														one item out of the following:</div>
													<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
												</div>
												<div id="SSA24311" class="row noPaddingButtom">
													<div class="col-9 spaceIn2  noPaddingButtom">
														Understand the effects of natural disasters on the
														environment, how natural disaster are predicted and the
														respective recovery action.<br>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
												<div id="SSA24312" class="row noPaddingButtom lineHeight">
													<div class="col-9 spaceIn2  noPaddingButtom">
														Understand the principles and concept of "Leave No Trace"
														and how it can be applied in scout activities.<br>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
											</div>

											<!-- task: Crisis and protection -->
											<!-- Environment -->
										</div>
									</div>
									<!-- New Experience -->
									<div class="panel panel-default">
										<div class="bgSSA infoRadius panel-heading">
											<h5 class="font-weight-bold text-center">
												<a class="text-white noUnderline" data-toggle="collapse"
													data-parent="#task" href="#newExperience">New
													Experience</a>
											</h5>
										</div>
										<div id="newExperience" class="panel-collapse collapse in">
											<div class="container textSSA textTask">
												<div id="SSA25000" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<div>New Experience</div>
														(Completed on <span class="textIn"></span>)
													</div>
												</div>

												<div id="SSA25100" class="row lineHeight">
													<div class="col-9 spaceIn">Participate in an exchange
														activity held with another scout group or organization.</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
											</div>
										</div>
										<!-- New Experience -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</span>
