

<span th:fragment="awardTest">
	<div class="popup" id="pathfinderAwardInfo">
		<br> <br>
		<div class="container p-3 rounded col-sm-11 col-md-9 col-lg-7">
			<div class="shadow  bg-white rounded positionRelative">
				<b class="bgSPA text-white SPB ">Scout Progressive Badge</b> <a
					href="mainpage"> <img class="Xsize rounded float-right"
					src="/onScout/images/X_scoutPathfinderAward.png">
				</a> <br> <br> <br>
				<h2 class="textSPA text-center font-weight-bold col-12">Scout
					Pathfinder Award</h2>
				<div class="container row">
					<div class="offset-1 col-2">
						<img class="awardSize rounded float-left "
							src="/onScout/images/scoutPathfinderAward.png">
					</div>
					<div class="offset-1 col-8">
						<div class="container">
							<span class="col-3 textSPA noPadding">Data Completed: </span> <span
								class="col-3 textIn noPadding">14/03/2019</span> <span
								class="offset-1 col-2 textSPA noPadding ">Award Issue
								Date: </span> <span class="col-3 textIn noPadding">14/03/2019</span>
						</div>
						<br>
						<div class="col-11 bgSPA infoRadius text-white textJustify">For
							Scouts who are 11 or above and have attained the Membership
							Badge. Sea Scouts must choose 'Sea Acitivites' and Air Scouts
							must choose 'Air Activities' from the electives.</div>
					</div>
				</div>
				<br>
				<h2 class="textSPA text-center font-weight-bold col-12">Task</h2>
				<div class="container" style="padding-bottom: 10px;">
					<div class="row">
						<div class="offset-1 col-10">
							<div id="task">

								<!-- Outdoor Challenge -->
								<div class="panel panel-default">

									<div class="bgSPA infoRadius panel-heading">
										<h5 class="font-weight-bold text-center">
											<a class="text-white noUnderline" data-toggle="collapse"
												data-parent="#task" href="#outdoorChallenge">Outdoor
												Challenge</a>
										</h5>
									</div>
									<div id="outdoorChallenge" class="panel-collapse collapse in">
										<!-- Sub-task: Camp Craft -->
										<div class="container textSPA textTask">
											<div id="SPA11100" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<span>Camp craft</span> (Completed on <span class="textIn">14/03/2019</span>)
												</div>
											</div>
											<div id="SPA11140" class="row lineHeight">
												<div class="col-9 spaceIn">
													Maintain camping gear <br>
													<div class="spaceIn">Clean, organize and store
														personal and patrol camping gear.</div>
												</div>
												<span class="offset-1 col-2 textIn">14/03/2019</span>
											</div>
										</div>

										<!-- Sub-task: Camp Craft -->

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</span>
