

<span th:fragment="award3">
	<div th:open="${openSAA}" class="popup" id="advancedAwardInfo">
		<br> <br>
		<div class="container p-3 rounded col-sm-11 col-md-9 col-lg-7">
			<div class="shadow  bg-white rounded positionRelative">
				<b class="bgSAA text-white SPB ">Scout Progressive Badge</b> <a
					href="mainpage"> <img class="Xsize rounded float-right"
					src="/onScout/images/X_scoutAdvancedAward.png">
				</a> <br> <br> <br>
				<h2 class="textSAA text-center font-weight-bold col-12">Scout
					Advanced Award</h2>
				<div class="container row">
					<div class="offset-1 col-2">
						<img class="awardSize rounded float-left "
							src="/onScout/images/scoutAdvancedAward.png">
					</div>
					<div class="offset-1 col-8">
						<div class="container" id="SAA30000">
							<div class="col-6 textSAA noPadding">Data Completed:  <span
								class=" textIn noPadding"></span></div>
						</div>
						<br>
						<div class="col-11 bgSAA infoRadius text-white textJustify">For
							Scouts who have completed the Scout Standard Award, or aged 13 or
							above who have attained the Membership badge and have completed
							the Outdoor Challenge section of the Pathfinder and Standard
							Awards. Sea Scouts must choose 'Sea Acitivites' whereas Air
							Scouts must choose 'Air Activities' from the electives. Other
							Scout must follow the same elective as for their Scout Pathfinder
							Award and Scout Standard Award.</div>
					</div>
				</div>
				<br>
				<h2 class="textSAA text-center font-weight-bold col-12">Task</h2>
				<div class="container" style="padding-bottom: 10px;">
					<div class="row">
						<div class="offset-1 col-10">
							<div id="task">

								<!-- Outdoor Challenge -->
								<div class="panel panel-default">

									<div class="bgSAA infoRadius panel-heading">
										<h5 class="font-weight-bold text-center">
											<a class="text-white noUnderline" data-toggle="collapse"
												data-parent="#task" href="#outdoorChallenge">Outdoor
												Challenge</a>
										</h5>
									</div>


									<div id="outdoorChallenge" class="panel-collapse collapse in">
										<!-- Sub-task: Camp Craft -->
										<div class="container textSAA textTask">
											<div id="SAA31100" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Camp craft</div><br> (Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="SAA31110" class="row lineHeight">
												<div class="col-9 spaceIn noPaddingButtom">
													Be involved in planning and participate in a camping
													activity, and be responsible for one of these jobs <br>
													<div class="spaceIn noPaddingButtom">Arrange meals in
														the camping, including designing menus, purchasing food
														and cooking;</div>
													<div class="spaceIn noPaddingButtom">Manage camp
														hygiene, including arrangement and implementation of work;</div>
													<div class="spaceIn noPaddingButtom">Be a camp
														quartermaster, including preparation, borrowing and
														returning of materials.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA31120" class="row lineHeight">
												<div class="col-9 spaceIn">Complete at least 6 camp
													gadgets as a patrol member. e.g. table, worktop, storage
													rack, shelter, notice board, water filter, food storage
													etc.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA31130" class="row lineHeight">
												<div class="col-9 spaceIn noPaddingButtom">
													Take part in a backwoods cooking activity.<br>
													<div class="spaceIn noPaddingButtom">Set up a fire
														using match and natural materials;</div>
													<div class="spaceIn noPaddingButtom">Demonstrate Cook
														food e.g. chicken, fish, egg in potato and onion, bread,
														etc.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Camp Craft -->
										<!-- Sub-task: Adventure -->
										<div class="container textSAA textTask">
											<div id="SAA31200" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Adventure</div><br> (Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="SAA31210" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">Complete
													one item out of the following:</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="SAA31220" class="row noPaddingButtom">
												<div class="col-9 spaceIn2 noPaddingButtom">
													A two-day-and-one-night expedition.<br>
													<div class="spaceIn noPaddingButtom">
														As a patrol, plan and complete an expedition of at least
														20 km on foot or 30 km by cycling or by boat;<br>
													</div>
													<div class="spaceIn noPaddingButtom">
														The plan should at least contain the route (and the backup
														and emergency routes), estimated distance and time,
														weather forecast, personal and patrol equipment etc;<br>
													</div>
													<div class="spaceIn noPaddingButtom">
														Record the expedition, covering at least the route (and
														the backup and the emergency routes), estimated distance
														and times, record of the journey and personal and patrol
														equipment.<br>
													</div>
												</div>
												<span class="offset-1 col-2 textIn  lineHeight"></span>
											</div>
											<div id="SAA31230" class="row noPaddingButtom">
												<div class="col-9 spaceIn2 noPaddingButtom">
													Be involved in planning, participate in and record a night
													hike from evening to dawn.<br>
													<div class="spaceIn noPaddingButtom">
														The plan should at least contain the route (and the backup
														and emergency routes), estimated distance and time,
														weather forecast, personal and patrol equipment etc;<br>
													</div>
													<div class="spaceIn noPaddingButtom">
														Record the expedition, covering at least the route (and
														the backup and the emergency routes), estimated distance
														and times, record of the journey and personal and patrol
														equipment.<br>
													</div>
												</div>
												<span class="offset-1 col-2 textIn  lineHeight"></span>
											</div>
											<div id="SAA31240" class="row lineHeight">
												<div class="col-9 spaceIn">Understand the relationship
													on ship between contour - lines and landform; identify
													various landform features from the contour - lines e.g.
													spur, valley, ridge, cliff, etc.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA31250" class="row lineHeight">
												<div class="col-9 spaceIn">Demonstrate techniques of
													telling directions without using a compass - understand and
													demonstrate the survival skills of telling directions using
													the sun, stars and tree growth when lost in the wilderness.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Adventure -->
										<!-- Sub-task: Pioneering -->
										<div class="container textSAA textTask">
											<div id="SAA31300" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Pioneering</div><br> (Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="SAA31310" class="row lineHeight">
												<div class="col-9 spaceIn">Demonstrate how to tie the
													double sheetbend, fisherman's knot, rolling hitch, mousing,
													scaffold sling, common whipping and state their uses.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA31320" class="row lineHeight">
												<div class="col-9 spaceIn">Select, use and maintain
													tools suitable for your pioneering project, e.g. ropes,
													poles, blocks, mallets and stakes etc.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA31330" class="row lineHeight">
												<div class="col-9 spaceIn">Use at least 2 different
													types of lashing to build two pioneering projects: such as
													Skylon Weathercock, Skylite, 10-minute tower etc.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Pioneering -->
										<!-- Sub-task: Outdoor activities (Elective) -->
										<div class="container textSAA textTask">
											<div id="SAA31400" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Outdoor activities (Elective)</div><br> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="SAA31410" class="row lineHeight">
												<div class="col-9 spaceIn">Complete the outdoor
													activities under the Scout Standard Award.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA31420" class="row lineHeight">
												<div class="col-9 spaceIn">Attain two of the following
													proficiency badges: Camper (Pursuit), Explorer (Pursuit),
													Pioneering (Pursuit), Backwoods Cooking (Pursuit)</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Outdoor activities (Elective) -->
										<!-- Sub-task: Sea activities (Elective) -->
										<div class="container textSAA textTask">
											<div id="SAA31500" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Sea activities (Elective)</div><br> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="SAA31510" class="row lineHeight">
												<div class="col-9 spaceIn">Complete the sea activities
													under the Scout Standard Award.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA31520" class="row lineHeight">
												<div class="col-9 spaceIn">Attain the Boatman badge.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA31530" class="row lineHeight">
												<div class="col-9 spaceIn">Attain a proficiency badge
													related to sea activities.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Sea activities (Elective) -->
										<!-- Sub-task: Air activities (elective) -->
										<div class="container textSAA textTask">
											<div id="SAA31600" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Air activities (elective)</div><br> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="SAA31610" class="row lineHeight">
												<div class="col-9 spaceIn">Complete the air elective
													under the Scout Standard Award.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA31620" class="row lineHeight">
												<div class="col-9 spaceIn">Attain the Intermediate Air
													Activity Badge.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA31630" class="row lineHeight">
												<div class="col-9 spaceIn">Understand the basic effect
													of aviation meteorology, e.g. Thunder, rain and fog, on
													flight safety and what weather condition will be formed
													under different conditions.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Air activities (elective) -->
									</div>
								</div>
								<!-- Outdoor Activities -->

								<!-- Personal Development -->
								<div class="panel panel-default">
									<div class="bgSAA infoRadius panel-heading">
										<h5 class="font-weight-bold text-center">
											<a class="text-white noUnderline" data-toggle="collapse"
												data-parent="#task" href="#personalDevelopment">Personal
												Development</a>
										</h5>
									</div>


									<div id="personalDevelopment"
										class="panel-collapse collapse in">
										<!-- task: Physical Fitness -->
										<div class="container textSAA textTask">
											<div id="SAA32100" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Physical Fitness</div><br> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="SAA32110" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">Complete
													one item :</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="SAA32111" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Attain a proficiency badge related to health and fitness
													that you have not attained in the previous progressive
													badge, e.g. Athlete (Interest), Canoeist (Interest), Dragon
													Boatman (Interest), Horseman (Interest), Rowing Boatman
													(Interest), Windsurfer (Interest), Archery (Pursuit),
													Boatswain (Pursuit), Orienteer (Pursuit), Master-at-arms
													(Pursuit), Marksman (Pursuit) or Skin Diver (Pursuit) etc;<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA32112" class="row noPaddingButtom">
												<div class="col-9 spaceIn2 noPaddingButtom">
													Implement and record a 4 to 6 week long physical training
													plan<br>
													<div class="spaceIn noPaddingButtom">
														Implement the training and record weekly progress.<br>
													</div>
												</div>
												<span class="offset-1 col-2 textIn  lineHeight"></span>
											</div>
											<div id="SAA32113" class="row noPaddingButtom">
												<div class="col-9 spaceIn2 noPaddingButtom">
													Introduce the process of human growth and development and
													the impact of bad habits on health<br>
													<div class="spaceIn noPaddingButtom">
														Bad habits such as alcohol, cigarettes and drug and
														solvent abuse on health through arranging activities,
														compiling electronic media, promotion material or other
														means.<br>
													</div>
												</div>
												<span class="offset-1 col-2 textIn  lineHeight"></span>
											</div>
											<div id="SAA32114" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Promote a topic related to healthy living, e.g. prevention
													of HIV, infections diseases and drug abuses, and take part
													in the related seminar or visit an exhibition. Then promote
													the theme through organizing an activity, compiling a
													multi-media promotional material or through other means.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- task: Physical Fitness -->
										<!-- task: Art, Creativity and Technology -->
										<div class="container textSAA textTask">
											<div id="SAA32200" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Art, Creativity and Technology</div><br> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="SAA32210" class="row lineHeight">
												<div class="col-9 spaceIn">Attain a proficiency badge
													related to art, creativity or technology which you have not
													attained in previous progressive badge, e.g. Photographer
													(Interest), Communicator (Pursuit), Computer (Pursuit),
													Electronics (Pursuit), Mechanics (Pursuit) or Jobman
													(Service).</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA32220" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">Complete
													one item :</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="SAA32221" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Take part in a performance during activities of patrol,
													e.g. drama, magic tricks, singing, troop or group
													performance of musical instruments, dancing, puppet show
													etc.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA32222" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Create an artwork for the patrol, troop or group, e.g.
													painting, glass painting, leathercraft, wax adornment,
													sculpture, ropecraft, sweets or cakes etc.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA32223" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Compose and perform a patrol song for the patrol.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA32224" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Make a model with proper scale using appropriate materials,
													e.g. a campsite, a pioneering project, a plane or a boat
													etc.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA32225" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Promote the activities of the patrol, troop or group using
													I.T., e.g. build a website, page in social networking
													sites, blogs, taking digital videos for making an
													electronic poster.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA32226" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Make a electrical animal, insect or similar model - explain
													the ideas, the components and the working principles.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- task: Art, Creativity and Technology -->
										<!-- task: Leadership -->
										<div class="container textSAA textTask">
											<div id="SAA32300" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Leadership</div><br> (Completed on <span class="textIn"></span>)
												</div>
											</div>

											<div id="SPA32310" class="row lineHeight">
												<div class="col-9 spaceIn">Participate in a Patrol
													Leaders' Council meeting and execute one of its decisions.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- task: Leadership -->
										<!-- task: Spiritual Development -->
										<div class="container textSAA textTask">
											<div id="SAA32400" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Spiritual Development</div><br> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="SAA32410" class="row lineHeight">
												<div class="col-9 spaceIn">Undertake a duty in the
													patrol, troop or group for not less than 3 months.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA32420" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">Complete
													one item :</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="SAA32421" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Participate in a religious / spiritual development activity
													or religion-related activity, e.g. Duty to God Day;<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="SAA32422" class="row noPaddingButtom lineHeight">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Share your personal religious belief and habits; and their
													relationship with the scouting movement.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- task: Spiritual Development -->
									</div>
									<!-- Personal Development -->
									<!-- Society -->
									<div class="panel panel-default">
										<div class="bgSAA infoRadius ">
											<h5 class="font-weight-bold text-center">
												<a class="text-white noUnderline" data-toggle="collapse"
													data-parent="#task" href="#society">Society</a>
											</h5>
										</div>
										<div id="society" class="panel-collapse collapse in">
											<!-- task: Service -->
											<div class="container textSAA textTask">
												<div id="SAA33100" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<div>Service</div><br> (Completed on <span class="textIn"></span>)
													</div>
												</div>

												<div id="SAA33110" class="row lineHeight">
													<div class="col-9 spaceIn">
														Pack a patrol first aid kit suitable for an
														two-day-and-one-night outdoor activity, and know how to
														use the items in the kit.<br>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
												<div id="SAA33120" class="row noPaddingButtom">
													<div class="col-9 spaceIn">Demonstrate how to treat a
														wound, bleeding, heat stroke, and heat exhaustion with the
														correct use of dressings and bandages; know the reasons
														and way of treatment for heat stroke and heat exhaustion.</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
												<div id="SAA33130" class="row noPaddingButtom">
													<div class="col-9 spaceIn">Know how to plan community
														activities - states the procedures for planning a
														community activity and provide a time and work schedule
														for the planning process.</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
												<div id="SAA33140" class="row lineHeight">
													<div class="col-9 spaceIn">Assist in planning and
														take part in service of at least 12 hours approved by the
														Group, District, Region or Association headquarters. Half
														of the service must be provided as a scout. Record the
														details of the service, such as the organization, targets,
														time and location.</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
											</div>
											<!-- task: Service -->
											<!-- task: Community and local awareness -->
											<div class="container textSAA textTask">
												<div id="SAA33200" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<div>Community and local awareness</div><br> (Completed on <span
															class="textIn"></span>)
													</div>
												</div>
												<div id="SAA33210" class="row noPaddingButtom">
													<div class="col-9 spaceIn  noPaddingButtom">Complete
														one item :</div>
													<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
												</div>
												<div id="SAA33211" class="row noPaddingButtom">
													<div class="col-9 spaceIn2  noPaddingButtom">
														Attain a badge related to understanding of community, e.g.
														Civics (Service), Disability Awareness (Service), or the
														Community Involvement Badge etc.<br>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
												<div id="SAA33212" class="row noPaddingButtom">
													<div class="col-9 spaceIn2">
														Participate in one disability awareness activity and know
														their individual needs with your patrol members.<br>
													</div>
													<span class="offset-1 col-2 textIn  lineHeight"></span>
												</div>
												<div id="SAA33213" class="row lineHeight">
													<div class="col-9 spaceIn2">
														Introduce the organization and functions of the District
														Council and the Legislative Council and explain to the
														patrol the importance of voting.<br>
													</div>
													<span class="offset-1 col-2 textIn  lineHeight"></span>
												</div>
											</div>
											<!-- task: Community and local awareness -->
											<!-- task: Knowing the world -->
											<div class="container textSAA textTask">
												<div id="SAA33300" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<div>Knowing the world</div><br> (Completed on <span
															class="textIn"></span>)
													</div>
												</div>
												<div id="SAA33310" class="row noPaddingButtom">
													<div class="col-9 spaceIn  noPaddingButtom">Complete
														one item :</div>
													<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
												</div>
												<div id="SAA33320" class="row noPaddingButtom">
													<div class="col-9 spaceIn2  noPaddingButtom">
														Introduce an international organization including its
														purpose, aim and work to the patrol.<br>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
												<div id="SAA33321" class="row noPaddingButtom lineHeight">
													<div class="col-9 spaceIn2">
														Introduce a scouting organization in another country /
														region, including its structure of youth sections and
														activities to the patrol.<br>
													</div>
													<span class="offset-1 col-2 textIn  lineHeight"></span>
												</div>
											</div>
											<!-- task: Knowing the world -->
										</div>
									</div>
									<!-- Society -->

									<!-- Environment -->
									<div class="panel panel-default">
										<div class="bgSAA infoRadius">
											<h5 class="font-weight-bold text-center">
												<a class="text-white noUnderline" data-toggle="collapse"
													data-parent="#task" href="#environment"> Environment</a>
											</h5>
										</div>

										<div id="environment" class="panel-collapse collapse in">
											<!-- task: Ecological environment -->
											<div class="container textSAA textTask">
												<div id="SAA32400" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<div>Ecological environment</div><br> (Completed on <span
															class="textIn"></span>)
													</div>
												</div>
												<div id="SAA32410" class="row lineHeight">
													<div class="col-9 spaceIn noPaddingButtom">
														Introduce the ecological environment of Hong Kong, types
														and diversity and distribution of flora and fauna. List
														the endangered species in Hong Kong and the threats upon
														them.<br>
														<div class="spaceIn noPaddingButtom">Using
															photos/videos, multimedia and other means;</div>
														<div class="spaceIn noPaddingButtom">Introduce 10
															endangered species in Hong Kong and the threats upon
															them.</div>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
											</div>
											<!-- task: Ecological environment -->
											<!-- task: Meterology -->
											<div class="container textSAA textTask">
												<div id="SAA34200" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<div>Meterology</div><br> (Completed on <span class="textIn"></span>)
													</div>
												</div>
												<div id="SAA34210" class="row noPaddingButtom">
													<div class="col-9 spaceIn  noPaddingButtom">Complete
														one item out of the following:</div>
													<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
												</div>
												<div id="SAA34211" class="row noPaddingButtom">
													<div class="col-9 spaceIn2  noPaddingButtom">
														Introduce the principle behind the formation of the four
														seasons. Use drawings,movie clips, electronic multimedia,
														models or other means to introduce the principle<br>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
												<div id="SAA34212" class="row noPaddingButtom lineHeight">
													<div class="col-9 spaceIn2  noPaddingButtom">
														Introduce the 24 solar-terms - state the features of
														Vernal Equinox, Summer Solstice, Autumnal Equinox and
														Winter Solstice. Briefly explain the relationship between
														the 24 solarterms and local customs.<br>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
												<div id="SAA34220" class="row noPaddingButtom">
													<div class="col-9 spaceIn  noPaddingButtom">Complete
														one item out of the following:</div>
													<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
												</div>
												<div id="SAA34221" class="row noPaddingButtom">
													<div class="col-9 spaceIn2  noPaddingButtom">
														IIntroduce the climate of Hong Kong and list the patrol
														activities suitable for different climates;<br>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
												<div id="SAA34222" class="row noPaddingButtom lineHeight">
													<div class="col-9 spaceIn2  noPaddingButtom">
														Introduce the commonly used weather terminologies,
														meanings of the warnings and contingency measures
														implemented by the association for inclement weather.<br>
													</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
											</div>
											<!-- task: Meterology -->
											<!-- task: Crisis and protection -->
											<div class="container textSAA textTask">
												<div id="SAA34300" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<div>Crisis and protection</div><br> (Completed on <span
															class="textIn"></span>)
													</div>
												</div>
												<div id="SAA34310" class="row noPaddingButtom">
													<div class="col-9 spaceIn  noPaddingButtom">Complete
														one item :</div>
													<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
												</div>
												<div id="SPA34311" class="row noPaddingButtom">
													<div class="col-9 spaceIn2 noPaddingButtom">
														Explain the work for 'sustainable development' in Hong
														Kong<br>
														<div class="spaceIn noPaddingButtom">
															know the 3 elements, including environment & ecology,
															society and economy and their respective importance.
															Introduce the work done by the Hong Kong Government and
															other organizations on sustainable development.<br>
														</div>
													</div>
													<span class="offset-1 col-2 textIn  lineHeight"></span>
												</div>
												<div id="SAA34312" class="row noPaddingButtom">
													<div class="col-9 spaceIn2 noPaddingButtom">
														Take part in environmental conservation work of not less
														than 1 day, or on 2 occasions.<br>
														<div class="spaceIn noPaddingButtom">
															Examples of environmental conservation: conservation on
															biodiversity, improvement in air quality, reduction in
															noise, improvement in water quality reduction of solid
															wastes or the use of sustainable energy;<br>
														</div>
														<div class="spaceIn noPaddingButtom">
															Examples of work: practices, promotion and education.<br>
														</div>
													</div>
													<span class="offset-1 col-2 textIn  lineHeight"></span>
												</div>

											</div>

											<!-- task: Crisis and protection -->
											<!-- Environment -->
										</div>
									</div>
									<!-- New Experience -->
									<div class="panel panel-default">
										<div class="bgSAA infoRadius panel-heading">
											<h5 class="font-weight-bold text-center">
												<a class="text-white noUnderline" data-toggle="collapse"
													data-parent="#task" href="#newExperience">New
													Experience</a>
											</h5>
										</div>
										<div id="newExperience" class="panel-collapse collapse in">
											<div class="container textSAA textTask">
												<div id="SAA35100" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<span class="height">Participate in an
															activity you have not attempted before and introduce it
															to your patrol members</span><br> (Completed on <span class="textIn"></span>)
													</div>
												</div>

												<div id="SAA35110" class="row lineHeight">
													<div class="col-9 spaceIn">Introduce this activity
														and share your experience with your patrol members through
														photographs, video, website, page in social networking
														site, or any other presentation means.</div>
													<span class="offset-1 col-2 textIn"></span>
												</div>
											</div>
										</div>
										<!-- New Experience -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</span>
