
<span th:fragment="award4">
	<div th:open="${openCSA}" class="popup" id="chiefAwardInfo">
		<br> <br>
		<div class="container p-3 rounded col-sm-11 col-md-9 col-lg-7">
			<div class="shadow  bg-white rounded positionRelative">
				<b class="bgCSA text-white SPB ">Scout Progressive Badge</b> <a
					href="mainpage"> <img class="Xsize rounded float-right"
					src="/onScout/images/X_chiefScout'sAward.png">
				</a> <br> <br> <br>
				<h2 class="textCSA text-center font-weight-bold col-12">Chief
					Scout's Award</h2>
				<div class="container row">
					<div class="offset-1 col-2">
						<img class="awardSize rounded float-left "
							src="/onScout/images/chiefScout'sAward.png">
					</div>
					<div class="offset-1 col-8">
						<div class="container" id="CSA40000">
							<div class="col-6 textCSA noPadding">Data Completed: <span
								class="textIn noPadding"></span>  </div>
						</div>
						<br>
						<div class="col-11 bgCSA infoRadius text-white textJustify">Suitable
							for scouts who have completed the Scout Advanced Award, or aged
							13 or above who have obtained the Membership badge and the Scout
							Advanced Award, and have completed the Outdoor Challenge sections
							of the Pathfinder and Scout Standard Award. Sea Scouts must
							choose 'Sea Activities' and Air Scouts must choose 'Air
							Activities' from the electives. Other scouts must follow the same
							elective as for their previous awards.</div>
					</div>
				</div>
				<br>
				<h2 class="textCSA text-center font-weight-bold col-12">Task</h2>
				<div class="container" style="padding-bottom: 10px;">
					<div class="row">
						<div class="offset-1 col-10">
							<div id="task">

								<!-- Outdoor Challenge -->
								<div class="panel panel-default">

									<div class="bgCSA infoRadius panel-heading">
										<h5 class="font-weight-bold text-center">
											<a class="text-white noUnderline" data-toggle="collapse"
												data-parent="#task" href="#outdoorChallenge">Outdoor
												Challenge</a>
										</h5>
									</div>


									<div id="outdoorChallenge" class="panel-collapse collapse in">
										<!-- Sub-task: Camp Craft -->
										<div class="container textCSA textTask">
											<div id="CSA41100" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Camp craft</div> <br>(Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="CSA41110" class="row lineHeight">
												<div class="col-9 spaceIn noPaddingButtom">
													Plan and implement an overnight wild camp.<br>
													<div class="spaceIn noPaddingButtom">Make a camp
														plan, which covers at least the list of personal and
														patrol equipment, information of the campsite, layout of
														the camping area, distribution and design of gadgets,
														arrangement on meals, patrol activities, budgets,
														transport and work allocation.</div>
													<div class="spaceIn noPaddingButtom">Organize and
														participate in a patrol, group or district camp activity
														based on the above camp plan.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA41120" class="row lineHeight">
												<div class="col-9 spaceIn noPaddingButtom">
													Teach basic camping skills.<br>
													<div class="spaceIn noPaddingButtom">Teach the patrol
														rucksack packing, gadget building, tent packing, backwoods
														cooking and pioneering.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA41130" class="row lineHeight">
												<div class="col-9 spaceIn noPaddingButtom">
													Make a camp log<br>
													<div class="spaceIn noPaddingButtom">Report the camp
														activity, which covers at least the personal and a patrol
														equipment used, information of the campsite, layout of the
														camping area, distribution and design of gadgets,
														arrangement on meals, camping experience, financial
														reports, work allocation and evaluation, etc</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Camp Craft -->
										<!-- Sub-task: Adventure -->
										<div class="container textCSA textTask">
											<div id="CSA41200" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Adventure</div> <br>(Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="CSA41210" class="row lineHeight">
												<div class="col-9 spaceIn noPaddingButtom">
													Plan, participate and record an overnight trip<br>
													<div class="spaceIn noPaddingButtom">Plan and
														complete an expedition of at least 30 km on foot with your
														patrol member.</div>
													<div class="spaceIn noPaddingButtom">Make a
														expedition plan and a report for this trip.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>

											<div id="CSA41220" class="row lineHeight">
												<div class="col-9 spaceIn">
													Teach the basic techniques in expedition:
													<div class="spaceIn noPaddingButtom">Teach your
														patrol map reading skills, the use of grid, ratio and
														distance, grid coordinates, map setting, gears and
														equipment packing for hiking.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA41230" class="row lineHeight">
												<div class="col-9 spaceIn">
													Understand the basic wild survival skills:
													<div class="spaceIn noPaddingButtom">Understand the
														survival skill when lost in the wilderness, such as how to
														purify water, pack and make use of survival kit refuse,
														sending survival codes etc.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Adventure -->
										<!-- Sub-task: Pioneering -->
										<div class="container textCSA textTask">
											<div id="CSA41300" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Pioneering</div> <br>(Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="CSA41310" class="row lineHeight">
												<div class="col-9 spaceIn">
													Plan and lead a patrol to complete a pioneering structure
													with no less than 3 different lashings.
													<div class="spaceIn noPaddingButtom">Plan and lead
														the project including prior preparation to afterward clean
														up.</div>
													<div class="spaceIn noPaddingButtom">Example of the
														pioneering projects include: Beacon Tower, Brynbach Tower,
														Suspended Flag Pole or Rocker Bridge, etc.</div>
													<div class="spaceIn noPaddingButtom">Make a
														pioneering project plan, which covers at least structure
														of the work, procedures, tools and equipment required and
														timetable etc.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA41320" class="row lineHeight">
												<div class="col-9 spaceIn">
													Teach basic pioneering techniques
													<div class="spaceIn noPaddingButtom">Teach the patrol
														different knotting and their usage, methods and skill in
														tidying up ropes after the project.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Pioneering -->
										<!-- Sub-task: Outdoor activities (Elective) -->
										<div class="container textCSA textTask">
											<div id="CSA41400" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Outdoor activities (Elective)</div> <br>(Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="CSA41410" class="row lineHeight">
												<div class="col-9 spaceIn">Complete the Outdoor
													activity in the Scout Advanced Award .</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA41420" class="row lineHeight">
												<div class="col-9 spaceIn">
													Plan and participate in a whole day outdoor activity with a
													patrol, e.g. :
													<div class="spaceIn noPaddingButtom">backwoods
														cooking, tracking, communication using codes and
														astronomical observations, etc.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Outdoor activities (Elective) -->
										<!-- Sub-task: Sea activities (Elective) -->
										<div class="container textCSA textTask">
											<div id="CSA41500" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Sea activities (Elective)</div><br> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="CSA41510" class="row lineHeight">
												<div class="col-9 spaceIn">Complete the Sea activity
													in the Scout Advanced Award.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA41520" class="row lineHeight">
												<div class="col-9 spaceIn">Plan and participate in a
													sea journey of at least 6 hours.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Sea activities (Elective) -->
										<!-- Sub-task: Air activities (elective) -->
										<div class="container textCSA textTask">
											<div id="CSA41600" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Air activities (elective)</div><br> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="CSA41610" class="row lineHeight">
												<div class="col-9 spaceIn">Complete the Air activity
													from the Scout Advanced Award.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA41620" class="row lineHeight">
												<div class="col-9 spaceIn">After discussion with the
													Scout leader, choose from the list of air activity and
													participate in two air activities which you have not
													participated before.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- Sub-task: Air activities (elective) -->
									</div>
								</div>
								<!-- Outdoor Activities -->

								<!-- Personal Development -->
								<div class="panel panel-default">
									<div class="bgCSA infoRadius panel-heading">
										<h5 class="font-weight-bold text-center">
											<a class="text-white noUnderline" data-toggle="collapse"
												data-parent="#task" href="#personalDevelopment">Personal
												Development</a>
										</h5>
									</div>
									<div id="personalDevelopment"
										class="panel-collapse collapse in">
										<!-- task: Physical Fitness -->
										<div class="container textCSA textTask">
											<div id="CSA42100" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Physical Fitness</div> <br>(Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="CSA42110" class="row lineHeight">
												<div class="col-9 spaceIn">Attain a proficiency badge
													related to physical fitness that you have not attained in
													pervious Progressive Badges, e.g., Dragon Boatman
													(Interest), Houseman (Interest), Rowing Boatman (Interest),
													Athlete (Interest), Windsurfer (Interest), Archery
													(Pursuit), Skipper (Pursuit), Canoeist (Pursuit), Orienteer
													(Pursuit), Marksman (Pursuit), Masterat- arms (Pursuit),
													Sailor (Pursuit) or Skin Diver (Pursuit) etc.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA42120" class="row lineHeight">
												<div class="col-9 spaceIn">Plan and implement a patrol
													activity with the theme of physical activity or
													competition.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- task: Physical Fitness -->
										<!-- task: Art, Creativity and Technology -->
										<div class="container textCSA textTask">
											<div id="CSA42200" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Art, Creativity and Technology</div> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="CSA42210" class="row lineHeight">
												<div class="col-9 spaceIn">Create and lead a
													performance, game or yell in a campfire or lantern night.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA42220" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">Complete
													one item :</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="CSA42221" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Share the process of creating one art piece:<br>
													<div class="spaceIn noPaddingButtom">Make an art
														piece and share the creation process with your patrol
														member for a specific theme.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA42222" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Teach how to make a model:<br>
													<div class="spaceIn noPaddingButtom">Teach your
														patrol member how to build a model with proper scale.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA42223" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Teach how to make a promotion product with the use of IT:<br>
													<div class="spaceIn noPaddingButtom">Teach your
														patrol member how to make promotion product or share the
														activities in patrol , troop or group using IT.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA42224" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Teach how to make a machine powered by battery:<br>
													<div class="spaceIn noPaddingButtom">Teach your
														patrol how to make a sample mechanical tool, animal or
														insect, which is powered by battery.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA42225" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Create a route in an electronic map:<br>
													<div class="spaceIn noPaddingButtom">Use electronic
														maps to indicate the landmark in the district where your
														group is located in, or indicate the routes and
														checkpoints for your future journey in countryside.</div>

													<div class="spaceIn noPaddingButtom">Publish the map
														onto your own website, blog or social networking site.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA42226" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Make a controllable mechanical model:<br>
													<div class="spaceIn noPaddingButtom">Produce a wired
														or wireless mechanical model, e.g. mechanical animal,
														insect or robot etc.</div>
													<div class="spaceIn noPaddingButtom">Demonstrate the
														operation of it, and state the function, component of and
														working principles behind the model.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- task: Art, Creativity and Technology -->
										<!-- task: Leadership -->
										<div class="container textCSA textTask">
											<div id="CSA42300" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Leadership</div> <br>(Completed on <span class="textIn"></span>)
												</div>
											</div>

											<div id="CSA42310" class="row lineHeight">
												<div class="col-9 spaceIn">Attain the Leadership
													Award.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- task: Leadership -->
										<!-- task: Spiritual Development -->
										<div class="container textCSA textTask">
											<div id="CSA42400" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Spiritual Development</div><br> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="CSA42410" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">
													Introduce the scout promise, law and motto.<br>
													<div class="spaceIn noPaddingButtom">Introduce the
														relevant content and meaning to newly-joined scouts</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA42420" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">Complete
													one of the following:</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="CSA42421" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Lead a silent prayer<br>
													<div class="spaceIn noPaddingButtom">Understanding of
														the meaning purpose and content of silent prayer.</div>
													<div class="spaceIn noPaddingButtom">Lead a silent
														prayer in a group meeting or at the end of the group
														activity.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA42422" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Assist in a scouts' own<br>
													<div class="spaceIn noPaddingButtom">Know the purpose
														and meaning of the scouts' own.</div>
													<div class="spaceIn noPaddingButtom">Be responsible
														for a part of the scouts' own, e.g. singing, reciting the
														promise and law or a short sharing.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA42423" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Attain the religious badge.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- task: Spiritual Development -->
									</div>
								</div>
								<!-- Personal Development -->
								<!-- Society -->
								<div class="panel panel-default">
									<div class="bgCSA infoRadius ">
										<h5 class="font-weight-bold text-center">
											<a class="text-white noUnderline" data-toggle="collapse"
												data-parent="#task" href="#society">Society</a>
										</h5>
									</div>
									<div id="society" class="panel-collapse collapse in">
										<!-- task: Service -->
										<div class="container textCSA textTask">
											<div id="CSA43100" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Service</div> <br>(Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="CSA43110" class="row lineHeight">
												<div class="col-9 spaceIn">
													Attain one of the following proficiency badge.<br>
													<div class="spaceIn noPaddingButtom">First Aid
														(Service), Fireman (Service), Life-saver (Service)</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA43120" class="row noPaddingButtom">
												<div class="col-9 spaceIn">
													Discuss an community participating activity
													<div class="spaceIn noPaddingButtom">Discuss with the
														Patrol a community-participation project that the
														government is encouraging people to understand participate
														in, such as environment cleaning and public health,
														anti-corruption, anti-crime, world environmental
														protection, life education, drug education, fire safety
														education, equal access to education, HIV prevention
														education, education on respect for intellectual property,
														heritage preservation, conservation of environment, mental
														health or sex education, etc.</div>
													<div class="spaceIn noPaddingButtom">Participate in
														or visit seminars or exhibitions, and understand its
														purpose, content, and the message promoted.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA43130" class="row noPaddingButtom">
												<div class="col-9 spaceIn">
													Assist in planning and participate in service of no less
													than 16 hours:
													<div class="spaceIn noPaddingButtom">Assist in
														planning and participating in a service approved by Group,
														District, Region or Association headquarters.</div>
													<div class="spaceIn noPaddingButtom">Half of the
														service should be provided as a Scout.</div>
													<div class="spaceIn noPaddingButtom">At least half of
														the service should be provided to units other than Scout.</div>
													<div class="spaceIn noPaddingButtom">Record the basic
														detail of the services, such as the organization, targets,
														time, location and content etc.</div>
													<div class="spaceIn noPaddingButtom">Present briefly
														the service experience to the Group or the public.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA43140" class="row lineHeight">
												<div class="col-9 spaceIn">Assist in planning and take
													part in service of at least 12 hours approved by the Group,
													District, Region or Association headquarters. Half of the
													service must be provided as a scout. Record the details of
													the service, such as the organization, targets, time and
													location.</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- task: Service -->
										<!-- task: Understanding on the community and the local region -->
										<div class="container textCSA textTask">
											<div id="CSA43200" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div class="height">Understanding on the community
														and the local region</div> <br>(Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="CSA43210" class="row lineHeight">
												<div class="col-9 spaceIn">
													To discuss a local current issue<br>
													<div class="spaceIn noPaddingButtom">Discuss with the
														patrol related topic such as hygene, medicial care,
														housing, poverty, new immigrants, education conservation
														and the environment. Understand its causes, impacts, and
														list same recent cases. Make suggestions to solve or
														allocate the problem.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA43220" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">Complete
													one of the following:</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="CSA43221" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Attain the Tourism (Interest) proficiency badge<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA43222" class="row noPaddingButtom lineHeight">
												<div class="col-9 spaceIn2">
													Learn how to communicate with people with special needs:<br>
													<div class="spaceIn noPaddingButtom">Learn how to
														communicate with people with special needs in daily life.</div>
													<div class="spaceIn noPaddingButtom">Enroll in
														workshops or courses related to people with special needs,
														such as courses on sign language and Braille training.</div>
												</div>
												<span class="offset-1 col-2 textIn  lineHeight"></span>
											</div>
											<div id="CSA43223" class="row noPaddingButtom lineHeight">
												<div class="col-9 spaceIn2">
													Probe into the provision of community facilities and
													services:<br>
													<div class="spaceIn noPaddingButtom">Conduct a survey
														in your community on people with disabilities, the
														elderly, youth, minorities, new immigrants and low-income
														families. Examine use in community facilities and
														services.</div>
													<div class="spaceIn noPaddingButtom">Report the
														findings to your patrol, group or the public and suggest
														recommendations for improvement.</div>
												</div>
												<span class="offset-1 col-2 textIn  lineHeight"></span>
											</div>
										</div>
										<!-- task: Understanding on the community and the local region -->
										<!-- task: Global understanding -->
										<div class="container textCSA textTask">
											<div id="CSA43300" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Global understanding</div><br> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="CSA43310" class="row lineHeight">
												<div class="col-9 spaceIn">
													Discuss an international issue<br>
													<div class="spaceIn noPaddingButtom">Discuss an
														international issue with other members, such as trade,
														world health, environment, international conflict, racism,
														refugees, peace, globalization, food crisis and animal
														protection. Understand its causes and impacts. List some
														recent cases, and suggest recommendation for improvement
														or alleviation.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA43320" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">Complete
													one of the following:</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="CSA43321" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Participate in the Jamboree on the Air/Jamboree on the
													Internet (JOTA/JOTI) and communicate with foreign scouts.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA43322" class="row noPaddingButtom lineHeight">
												<div class="col-9 spaceIn2">
													Introduce foreign scout<br>
													<div class="spaceIn noPaddingButtom">Contact with a
														foreign scout regularly for at least 3 months. Learn the
														culture, daily life and scout life etc. of each other.</div>
													<div class="spaceIn noPaddingButtom">Share your
														experience to your patrol members in any means.</div>
												</div>
												<span class="offset-1 col-2 textIn  lineHeight"></span>
											</div>
											<div id="CSA43323" class="row lineHeight">
												<div class="col-9 spaceIn">
													Participate in an exchange program with overseas scouts<br>
													<div class="spaceIn noPaddingButtom">Participate in
														an exchange program, either held in Hong Kong or overseas.
														Learn the culture, daily life and scout life etc. of each
														other.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- task: Global understanding -->
									</div>
								</div>
								<!-- Society -->

								<!-- Environment -->
								<div class="panel panel-default">
									<div class="bgCSA infoRadius">
										<h5 class="font-weight-bold text-center">
											<a class="text-white noUnderline" data-toggle="collapse"
												data-parent="#task" href="#environment"> Environment</a>
										</h5>
									</div>

									<div id="environment" class="panel-collapse collapse in">
										<!-- task: Ecological environment -->
										<div class="container textCSA textTask">
											<div id="CSA44100" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Ecological environment</div><br> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="CSA44110" class="row lineHeight">
												<div class="col-9 spaceIn noPaddingButtom">
													Attain a proficiency badge related to environment which you
													have not attained in the previous Progressive Badges; such
													as Geologist (Interest), Naturalist (Interest), Smallholder
													(Interest), Conservator (Service) or Tree Carer (Interest)
													proficiency badge, World Conservation Badge or the World
													Scout Environment Badge.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- task: Ecological environment -->
										<!-- task: Meterology -->
										<div class="container textCSA textTask">
											<div id="CSA44200" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Meterology</div> <br>(Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="CSA44210" class="row lineHeight">
												<div class="col-9 spaceIn">
													Teach one meteorological knowledge<br>
													<div class="spaceIn noPaddingButtom">Teach your
														patrol member a meteorological knowledge, such as factors
														of weather, types of clouds, and the effects on Scout
														activities of different weather condition, etc.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA44220" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">Complete
													one of the followings:</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="CSA44221" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Attain the Meteorologist (Interest) Proficiency Badge.<br>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA44222" class="row noPaddingButtom lineHeight">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Introduce weather charts and record weather data in a week
													from a automatic weather station in a Scout campsite.<br>
													<div class="spaceIn noPaddingButtom">Obtain a weather
														chart from the Hong Kong Observatory or other
														meteorological organisations. State its function and basic
														legends, such as rain, showers, thunderstorms, snow, haze,
														fog, no wind, front and trough etc.</div>
													<div class="spaceIn noPaddingButtom">State the
														weather condition described by the weather chart.</div>
													<div class="spaceIn noPaddingButtom">Record the
														weather conditons for 7 days based on the automatic
														weather station from the Association and state the reasons
														behind the changes in weather conditions.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>
										<!-- task: Meterology -->
										<!-- task: Crisis and protection -->
										<div class="container textCSA textTask">
											<div id="CSA44300" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div>Crisis and protection</div> <br> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="CSA44310" class="row lineHeight">
												<div class="col-9 spaceIn">
													Introduce the impact of human activities on the environment<br>
													<div class="spaceIn noPaddingButtom">Through
														delivering speech, organizing events, taking photos or
														videos, multimedia production or any other means, share
														these impacts with your patrol, such as the formation of
														acid rain, greenhouse effect, tropical rain forests
														destruction, ozone depletion, soil pollution, water
														pollution, light pollution and noise pollution.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
											<div id="CSA44320" class="row lineHeight">
												<div class="col-9 spaceIn">
													Plan and lead an environmental conservation project<br>
													<div class="spaceIn noPaddingButtom">Plan and lead an
														environmental conservation project, such as the
														conservation of biodiversity, improvement on air quality,
														reduction on noise pollution, improvement in water
														quality, reduction of waste production and sustainable use
														of energy. Example of projects include practise, promotion
														or education on programme.</div>
												</div>
												<span class="offset-1 col-2 textIn"></span>
											</div>
										</div>

										<!-- task: Crisis and protection -->
										<!-- Environment -->
									</div>
								</div>
								<!-- New Experience -->
								<div class="panel panel-default">
									<div class="bgCSA infoRadius panel-heading">
										<h5 class="font-weight-bold text-center">
											<a class="text-white noUnderline" data-toggle="collapse"
												data-parent="#task" href="#newExperience">New Experience</a>
										</h5>
									</div>
									<div id="newExperience" class="panel-collapse collapse in">
										<div class="container textCSA textTask">
											<!-- Participate in an activity you have never attempted and
introduce it to your other patrol members -->
											<div id="CSA45100" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div class="height">Participate in an activity you
														have never attempted and introduce it to your other patrol
														members</div> <br>(Completed on <span class="textIn"></span>)
												</div>
											</div>

											<div id="CSA45110" class="row lineHeight">
												<div class="col-9 spaceIn">Introduce this activity and
													share your experience with your patrol members through
													photographing, video taking, website, page in social
													networking sites, blog, or any other means of presentation.</div>

											</div>
											<!-- Participate in an activity you have never attempted and
introduce it to your other patrol members -->
											<!-- Attain a Proficiency Badge (Instructor). -->
											<div id="CSA45200" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<div class="height">Attain a Proficiency Badge
														(Instructor).</div> <br>(Completed on <span class="textIn"></span>)
												</div>
											</div>
											<!-- Attain a Proficiency Badge (Instructor). -->
										</div>
									</div>

								</div>
								<!-- New Experience -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</span>
