<!DOCTYPE html>
<html>
<head>
<meta charset="BIG5">
<title>Scout Mainpage</title>
<div lang="en" th:replace="General/nav :: head"></div>
<nav th:include="General/nav :: nav"></nav>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<h1 id="testSpan"></h1>
	<div class="container">
		<br> <br> <br>
		<h1 class="text-center textMain font-weight-bold">Scout
			Progressive Badge</h1>
		<br> <br>
		<div class="row awardRow text-center">
			<div id="pathfinderAward" class="col-3 award">
				<h5 class="textSPA font-weight-bold">Scout Pathfinder Award</h5>
				<br> <img id="Award"
					src="/onScout/images/scoutPathfinderAward.png">
			</div>

			<div id="standardAward" class="col-3">
				<h5 class="textSSA font-weight-bold">Scout Standard Award</h5>
				<br> <img id="Award"
					src="/onScout/images/scoutStandardAward.png">
			</div>
			<div id="advancedAward" class="col-3">
				<h5 class="textSAA font-weight-bold">Scout Advanced Award</h5>
				<br> <img id="Award"
					src="/onScout/images/scoutAdvancedAward.png">
			</div>
			<div id="chiefAward" class="col-3">
				<h5 class="textCSA font-weight-bold">Chief Scout's Award</h5>
				<br> <img id="Award"
					src="/onScout/images/chiefScout'sAward.png">
			</div>
		</div>
	</div>
	<div th:include="Scout/Award4"></div>
	<div th:include="Scout/Award1"></div>
	<div th:include="Scout/Award2"></div>
	<div th:include="Scout/Award3"></div>

	<script>
		$(document).ready(function() {
			$("#pathfinderAward").click(function() {
				$("#pathfinderAwardInfo").show();
			});
			$("#standardAward").click(function() {
				$("#standardAwardInfo").show();
			});
			$("#advancedAward").click(function() {
				$("#advancedAwardInfo").show();
			});
			$("#chiefAward").click(function() {
				$("#chiefAwardInfo").show();
			});

		});
	</script>

</body>
</html>
