<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<div lang="en" th:replace="General/nav:: head"></div>
<meta charset="utf-8">
<title>Scout Profile</title>
<!-- <nav th:include="General/nav :: nav"></nav> -->
<nav th:include="Scout/scoutNav :: nav"></nav>
</head>
<body>
	<br>
	<div class="container-fluid">
		<div class="row justify-content-center mb-1">
			<div class="col-12">
				<h1 style="text-align: center;">Scout Information</h1>
			</div>
		</div>
		<div class="container border border-primary m-auto">
			<div class="container row">
				<div class="col-12 col-lg-6 text-center mt-2"
					style="font-size: 20px;">
					<b>Username: </b>
					<text id="username" th:value="${scoutInfo.getUsername()}" th:text="${scoutInfo.getUsername()}"></text>
				</div>
				<div class="col-12 col-lg-4 text-center mt-2"
					style="font-size: 20px;">
					<b>Full Name: </b>
					<text
						th:text="${scoutInfo.getLastName()} + ' ' + ${scoutInfo.getFirstName()}">
				</div>
			</div>
			<hr />
			<div class="container row">
				<div class="col-12 text-center font-weight-bolder"
					style="font-size: 20px;" th:text="'Personal Information'"></div>
			</div>
			<br /> <br />
			<div class="container row">
				<div class="col-lg-6 col-12">
					<b>Date of Birth: </b>
					<text th:text="${scoutInfo.getDOB()}"></text>
				</div>
				<div class="col-lg-6 col-12 text-left">
					<b>Gender: </b>
					<text th:text="${scoutInfo.getGender()}"></text>
				</div>
			</div>
			<br />
			<div class="container row">
				<div class="col-lg-6 col-12">
					<b>HKID Card No: </b>
					<text th:text="${scoutInfo.getHKID()}"></text>
				</div>
				<div class="col-lg-6 col-12 text-left">
					<b>Address: </b>
					<text th:text="${scoutInfo.getAddress()}"></text>
				</div>
			</div>
			<br /> <br />
			<hr />
			<div class="container row">
				<div class="col-12 text-center  font-weight-bolder"
					style="font-size: 20px;" th:text="'Scout Information'"></div>
			</div>
			<br /> <br />
			<div class="container row">
				<div class="col-lg-6 col-12">
					<b>Unit: </b>
					<text
						th:text="${scoutInfo.getRegion()} + ' ' + ${scoutInfo.getDistrict()} + ' ' + ${scoutInfo.getScoutGroup()}"></text>
				</div>
				<div class="col-lg-6 col-12 text-left">
					<b>Date of Investiture: </b>
					<text th:text="${scoutInfo.getDOI()}"></text>
				</div>
			</div>
			<br /> <br />
			<hr />
			<div class="container row">
				<div class="col-lg-2">&nbsp;</div>
				<div class="col-lg-8 text-center font-weight-bolder"
					style="font-size: 20px;" th:text="'Contact Information'"></div>
			</div>
			<br /> <br />
			<form class="form-inline" method="POST" th:object="${scoutInfo}"
				th:action="@{/scout/scoutProfile/} + ${scoutInfo.getUsername()}">
				<div class="form-group mb-2 col-sm-12 col-lg-auto">
					<!--  th:field="*{phoneNum}" -->
					<b><label for="ContactNo">Contact Number: </label></b> <input
						type="text" class="form-control" id="Contact"
						th:value="${scoutInfo.getPhoneNum()}" th:field="*{phoneNum}"
						placeholder="Contact Number..." disabled>
				</div>
				&nbsp; &nbsp;
				<div class="form-group mx-sm-3 mb-2 col-sm-12 col-lg-auto">
					<!--  th:field="*{email}"  -->
					<b><label for="Email">Email: </label></b> <input type="text"
						class="form-control" id="Email" th:value="${scoutInfo.getEmail()}"
						th:field="*{email}" placeholder="Email..." disabled>
				</div>
				<button type="button" onclick="enable()"
					class="btn btn-primary mb-2 col-lg-auto col-sm-6">Edit</button>
				&nbsp;
				<button id="submit" type="submit"
					class="btn btn-success mb-2 col-sm-6 col-lg-auto" disabled>Submit</button>
			</form>
			<br />
			<hr />
			<div class="container row">
				<div class="col-12 text-center font-weight-bolder"
					style="font-size: 20px;" th:text="'Emergency Contact'"></div>
			</div>
			<br /> <br />
			<div class="container row" th:each="emerContact: ${emerContact} ">
				<div class="col-lg-3 col-12">
					<b>Emergency Name: </b>
					<!-- th:text="${emContact.getEmerName()}" -->
					<text th:text="${emerContact.getEmerName()}"></text>
				</div>
				<div class="col-lg-3 col-12 text-left">
					<b>Relationship: </b>
					<!-- th:text="${emContact.getEmerRelation()}" -->
					<text th:text="${emerContact.getEmerRelation()}"></text>
				</div>
				<div class="col-lg-3 col-12">
					<b>Phone Number: </b>
					<!-- th:text="${emContact.getEmerTel()}" -->
					<text th:text="${emerContact.getEmerTel()}"></text>
				</div>
				<div class="col-lg-3 col-12">
					<b>Contact Email: </b>
					<!-- th:text="${emContact.getEmerAddress()}" -->
					<text th:text="${emerContact.getEmerAddress()}"></text>
				</div>
				<div class="col-lg-12 col-12">&nbsp;</div>
			</div>
			<br />
			<hr />
			<div class="container row">
				<div class="col-12 text-center font-weight-bolder"
					style="font-size: 20px;" th:text="'Generate Application Form'">
				</div>
			</div>
			<br />
			<div class="container row">
				<span class="col-lg-4">&nbsp;</span> <a
					class="col-lg-4 text-center font-italic border-primary rounded aborWid"
					style="color: white;" href="#"
					th:onclick="'location.href=\''+ @{/downloadForm/{username} (username=${scoutNavInfo.getUsername()})}+'\''">Generate
					Application Form</a> <span class="col-lg-4">&nbsp;</span>
			</div>
			<br />
			<hr/>
			<div class="container row">
				<div class="col-12 text-center font-weight-bolder"
					style="font-size: 20px;" th:text="'Change Password'"></div>
			</div>
			<br />
			<div class="container row">
				<span class="col-lg-4">&nbsp;</span> <a id="changePassword" href="#"
					class="col-lg-4 text-center font-italic border-primary rounded aborWid"
					style="color: white;">Change Password</a> <span class="col-lg-4">&nbsp;</span>
			</div>
			<div class="container row">

				<input id="newPassword" type="password" class="offset-lg-4 col-lg-4 text-center form-control"
					placeholder="Change Password.." >
			</div>
			<br /> <br />
		</div>
		<br />
	</div>
</body>
</html>
