<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<div lang="en" th:replace="Scout/scoutNav:: head"></div>
<meta charset="utf-8">
<title>Scout Profile</title>
<!-- <nav th:include="General/nav :: nav"></nav> -->
<nav th:include="Scout/scoutNav :: nav"></nav>
</head>
<body>
	<br>
	<div class="container-fluid">
		<div class="row justify-content-center mb-1">
			<div class="col-12">
				<h1 style="text-align: center;">Scout Information</h1>
			</div>
		</div>
		<div class="container border border-primary m-auto">
			<div class="container row">
				<div class="col-12 col-lg-6 text-center mt-2"
					style="font-size: 20px;">
					<b>Scout ID: </b>
					<text th:text="'1'"></text>
				</div>
				<div class="col-12 col-lg-4 text-center mt-2"
					style="font-size: 20px;">
					<b>Full Name: </b>
					<text th:text="'Chan scout'">
				</div>
			</div>
			<hr />
			<div class="container row">
				<div class="col-12 text-center font-weight-bolder"
					style="font-size: 20px;" th:text="'Personal Information'"></div>
			</div>
			<br /> <br />
			<div class="container row">
				<div class="col-lg-4 col-12">
					<b>Date of Birth: </b>
					<text th:text="'04 - 04 - 2019'"></text>
				</div>
				<div class="col-lg-3 col-12 text-left">
					<b>Age: </b>
					<text th:text="'18'"></text>
				</div>
				<div class="col-lg-5 col-12 text-left">
					<b>Gender: </b>
					<text th:text="'F'"></text>
				</div>
			</div>
			<br />
			<div class="container row">
				<div class="col-lg-6 col-12">
					<b>HKID Card No: </b>
					<text th:text="'G829125(4)'"></text>
				</div>
				<div class="col-lg-6 col-12 text-left">
					<b>Address: </b>
					<text th:text="'adasd, ads dasd , asd sd sd ,KLN'"></text>
				</div>
			</div>
			<br /> <br />
			<hr />
			<div class="container row">
				<div class="col-12 text-center  font-weight-bolder"
					style="font-size: 20px;" th:text="'Scout Information'"></div>
			</div>
			<br /> <br />
			<div class="container row">
				<div class="col-lg-6 col-12">
					<b>Unit: </b>
					<text th:text="'XXXX'"></text>
				</div>
				<div class="col-lg-6 col-12 text-left">
					<b>Date of Investiture: </b>
					<text th:text="'04 - 04 - 2019'"></text>
				</div>
			</div>
			<br /> <br />
			<hr />
			<div class="container row">
				<div class="col-lg-2">&nbsp;</div>
				<div class="col-lg-8 text-center  font-weight-bolder"
					style="font-size: 20px;" th:text="'Contact Information'"></div>
			</div>
			<br /> <br />
			<form class="form-inline">
				<div class="form-group mb-2 col-sm-12 col-lg-auto">

					<b><label for="ContactNo">Contact Number: </label></b> <input
						type="text" class="form-control" id="Contact"
						placeholder="Contact Number..."  disabled>
				</div>
				&nbsp;
				&nbsp;
				<div class="form-group mx-sm-3 mb-2 col-sm-12 col-lg-auto">
					<b><label for="Email">Email: </label></b> <input type="text"
						class="form-control" id="Email" placeholder="Email..." disabled>
				</div>
				<button type="button" onclick="enable()" class="btn btn-primary mb-2 col-lg-auto col-sm-6">Edit</button>
				&nbsp;
				<button id="submit" type="submit" class="btn btn-success mb-2 col-sm-6 col-lg-auto"
					disabled>Submit</button>
			</form>
			<br />
			<hr />
			<div class="container row">
				<div class="col-12 text-center font-weight-bolder"
					style="font-size: 20px;" th:text="'Emergency Contact'"></div>
			</div>
			<br /> <br />
			<div class="container row">
				<div class="col-lg-4 col-12">
					<b>Emergency Name: </b>
					<text th:text="'Chan Chan Chan'"></text>
				</div>
				<div class="col-lg-3 col-12 text-left">
					<b>Relationship: </b>
					<text th:text="'Parent'"></text>
				</div>
				<div class="col-lg-5 col-12">
					<b>Emergnecy Contact Number: </b>
					<text th:text="'852 - 13121231'"></text>
				</div>
			</div>
			<br /> <br />
		</div>
		<br />
	</div>
</body>
</html>