<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<div lang="en" th:replace="General/nav :: head"></div>
<meta charset="utf-8">
<title>Scout Profile</title>
<nav th:include="General/nav :: nav"></nav>
</head>
<body>
	<br>
	<div class="container-fluid">
		<div class="row justify-content-center mb-1">
			<div class="col-12">
				<h1 style="text-align: center;">Scout Information</h1>
			</div>
			<div class="col-8 text-right">
				<a href="#" class="btn btn-primary"> Edit Profile </a>
			</div>
		</div>
		<div class="container border border-primary m-auto">
			<div class="container row">
				<div class="col-12 col-lg-6 text-center mt-2"
					style="font-size: 20px;" th:text="'Scout ID: 1'"></div>
				<div class="col-12 col-lg-4 text-center mt-2"
					style="font-size: 20px;" th:text="'Full Name: Chan scout'"></div>
			</div>
			<hr />
			<div class="container row">
				<div class="col-12 text-center" style="font-size: 20px;"
					th:text="'Personal Information'"></div>
			</div>
			<br />
			<div class="container row">
				<div class="col-lg-4 col-12" th:text="'Date of Birth: 04 - 04 - 2019'"></div>
				<div class="col-lg-4 col-12 text-center" th:text="'Age: 18'"></div>
				<div class="col-lg-4 col-12 text-center" th:text="'Gender: F'"></div>
			</div>
			<br />
			<div class="container row">
				<div class="col-lg-4 col-12" th:text="'HKID Card No: G829125(4)'"></div>
				<div class="col-lg-8 col-12 text-center"
					th:text="'Address: adasd, ads dasd , asd sd sd ,KLN'"></div>
			</div>
			<hr />
			<div class="container row">
				<div class="col-12 text-center" style="font-size: 20px;"
					th:text="'Scout Information'"></div>
			</div>
			<br />
			<div class="container row">
				<div class="col-lg-4 col-12" th:text="'Unit: XXX'"></div>
				<div class="col-lg-8 col-12 text-center"
					th:text="'Date of Investiture: 04 - 04 - 2019'"></div>
			</div>
			<hr />
			<div class="container row">
				<div class="col-12 text-center" style="font-size: 20px;"
					th:text="'Contact Information'"></div>
			</div>
			<div class="container row"></div>
			<br />
			<div class="container row">
				<div class="col-lg-6 col-12" th:text="'Contact No: 852 - 13121231'"></div>
				<div class="col-lg-6 col-12"
					th:text="'Email Address: asdqwwdqw@uowmail.edu.au'"></div>
			</div>
			<hr />
			<div class="container row">
				<div class="col-12 text-center" style="font-size: 20px;"
					th:text="'Emergency Contact'"></div>
			</div>
			<br />
			<div class="container row">
				<div class="col-lg-4 col-12" th:text="'Emergency Name: Chan Chan Chan'"></div>
				<div class="col-lg-4 col-12 text-center" th:text="'Relationship: Parent'"></div>
				<div class="col-lg-4 col-12" th:text="'Emergency Contact No: 852 - 13121231'"></div>
			</div>
			<br />
		</div>
		<br />
	</div>
</body>
</html>