<div th:fragment="nav">
	<nav id="sidebar-wrapper" class="bg-light border-right">
		<div class="sidebar-heading"><img th:src="@{/images/logo.png}"
				class="sideIcon"></div>
		<div id="navItem" class="list-group list-group-flush">
			<a id="sideNavA" href="@{scouter}"
				class="list-group-item list-group-item-action bg-light">Scout
				Process</a> <a id="sideNavA" href="@{scouter/scoutProcess}"
				class="list-group-item list-group-item-action bg-light">Scout
				Management</a> <a id="sideNavA" href="@{scouter/Manage}"
				class="list-group-item list-group-item-action bg-light">Edit Own
				Profile</a> <a id="sideNavA" href="@{scouter/editProfile}"
				class="list-group-item list-group-item-action bg-light">View
				Award Requirement</a> <a id="sideNavA" href="@{scouter/viewAw}"
				class="list-group-item list-group-item-action bg-light">logout</a>
		</div>
	</nav>
</div>

