.btn-link{
	color:#b89b6d;
}
.btn-link:hover{
	color:#0f1834;
}
.btn-primary:hover{
	color:#C4AD87;
	background-color:#3A4258;
}

.loginBrand{
	color:#b89b6d;
	font-size: 60px;
	text-decoration: none;
}

.loginTitle{
	font-size:40px;
}

.errorText{
 color:red;	
}

.textcolor{
	color:#0f1834;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.tick{
	width:33px;
	height:33px;
	
}
