.awardRow>div>img {
	width: 250px;
	heigth: 250px;
}

.textSPA{
	color: #84A681;
}

.textSSA{
	color: #55a3ba;
}

.textSAA{
	color: #F25252;
}

.textCSA{
	color: #a586ae;
}

.textMain{
	color: #8d4b67;
}

/*Hover Award*/

/*Hover Award*/

/*Pop up*/
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display:none;
 	
}

/*Pop up*/
