.awardRow>div>img {
	width: 250px;
	height: 250px;
}
.Xsize{
	width: 25px;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.tickSize{
	width:20px;
	
}
.SPB{
	top:10px;
	position:absolute;
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding-bottom: 5px !important;
}
.infoRadius>h5{
	padding-bottom: 5px;
    padding-top: 5px;
}

.positionRelative{
	position:relative;
}
.awardSize{
	width:150px !important;
	height:150px !important;
	padding: 0px !important;
}
.noUnderline:hover{
	text-decoration: none;
}

.noPadding{
	padding:0px !important;	
}

.noPaddingButtom{
	padding-bottom: 5px;

}

.textJustify{
	text-align: justify;
  	padding-left: 5px;
    padding-right: 5px;
}

.listItem{
	display:list-item !important;
}

.spaceIn{
	padding-left:20px !important;
}
.spaceIn2{
	padding-left:40px !important;
}


.textTask{

	text-align: justify;
	line-height: 105%;
}
.lineHeight{
	padding-bottom: 15px;
}
.infoRadius{
	border-radius: 5px;
}

.textIn{
	color: #F78764;
}
.textBigger{
	padding-left:5px;
	font-size: 20px;
}

.textSPA{
	color: #6D886A;
}
.bgSPA{
	background-color: #6D886A;
}

.textSSA{
	color: #468699;
}

.textSAA{
	color: #F25252;
}

.textCSA{
	color: #886E8F;
}

.textMain{
	color: #8d4b67;
}

/*Hover Award*/

/*Hover Award*/

/*Pop up*/
.popup {
  overflow-y:scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display:none;
 	
}

/*Pop up*/

/*Panel Start*/

/*Panel End*/