.btn-primary {
  color: #fff;
  background-color: #8d4b67;
  border-color: #8d4b67;
}

.btn-secondary {
  color: #fff;
  background-color: #b89b6d;
  border-color: #b89b6d;
}

.bg-primary {
  color: #fff;
  background-color: #8d4b67 !important;
}

@font-face {
  font-family: "Cleveland"; /*a name to be used later*/
  src: url("http://localhost:8080/cartopia/font/Cleveland.ttf"); /*URL to font*/
}

.brandFont {
  font-family: "Cleveland";
}

.bg-light {
  background-color: #fff !important;
}
/* sidebar */
#sidebar-wrapper {
  min-height: 99.8vh;
  height: 100%;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#page-content-wrapper .container-fluid {
  padding-left: 40px;
}

.sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.7rem;
  color: #8d4b67 !important;
}

#sidebar-wrapper .list-group {
  width: 10rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

#sidebar-wrapper .list-group-item-action {
  color: #8d4b67;
}

.sideIcon{
    width: 200%;
    height: 30%;
    max-height: 200px;
    max-width: 100px;
	padding-left: inherit;
}

#sideNavA, a.bg-light:hover, a.bg-light:focus, button.bg-light:hover, tr{
	border-style: unset;
}
/* sidebar */
/* Login */
.loginBrand {
  color: #8d4b67;
  font-size: 60px;
  text-decoration: none;
}

#loginCard,
.card {
  border-width: medium;
  border-color: #8d4b67;
}

#loginImg {
  margin-bottom: 10px;
  width: 30%;
  height: 30%;
  max-height: 200px;
  max-width: 200px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}
/* Login */
/* NAV */
.navbar {
  border-style: solid;
  border-width: thin;
  border-color: #8d4b67;
}
.navbar-brand > img {
  width: auto;
  height: 40px;
  padding: 0px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #8d4b67;
}

.navbar-dark .navbar-brand {
  color: #8d4b67;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #8d4b67;
  border-style: solid;
  border-width: thin;
  border-radius: 50px;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
  color: #8d4b67;
}
/* NAV */
/* Font*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 100;
  line-height: 1.2;
  color: #8d4b67;
}
/* Font */
/* Table */
.table th,
.table td {
  font-weight: 400;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
a i {
  color: #8d4b67;
}
a i{
	color:#8d4b67;
}
/* Table */
#admin {
  background-color: rgb(238, 238, 238);
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,

tr {
	transition: background-color 0.5s ease;
	border-style: solid;
    border-width: thin;
    border-color: #8d4b67;
}

tbody tr:hover {
  background-color: #e7e7e7;
}

.text-gold {
  color: #b89b6d;
}

iframe{
	width:100%;
	height: 100vh;
}

.text14{
	font-size:14px;
}

.aborWid{
    border-style:solid;
    border-width:medium;
    background-color:#8d4b67;
}
}

<!-- Hover Nav -->
.navbarNav {
  position: relative;
  display: inline-block;
}

.navbarNav-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right:3px;
  border-color:#8d4b67;
  border-style: dashed;
  border-width: thin;
}

.navbarNav-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbarNav-content a:hover {
	background-color: #ddd;
}

.navbarNav:hover .navbarNav-content {
	display: block;
}

.navbarNav:hover .logo {
	background-color: #3e8e41;
}
.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file{
	width:4rem;
}
.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
width:2rem;
    height: fit-content;
}