

<span th:fragment="award1"> <!-- Pathfinder Award -->
	<div class="popup" id="pathfinderAwardInfo">
		<br> <br>
		<div class="container p-3 rounded col-sm-11 col-md-9 col-lg-7">
			<div class="shadow  bg-white rounded positionRelative">
				<b class="bgSPA text-white SPB ">Scout Progressive Badge</b> <a
					href="mainpage"> <img class="Xsize rounded float-right"
					src="/onScout/images/X_scoutPathfinderAward.png">
				</a> <br> <br> <br>
				<h2 class="textSPA text-center font-weight-bold col-12">Scout
					Pathfinder Award</h2>
				<div class="container row">
					<div class="offset-1 col-2">
						<img class="awardSize rounded float-left "
							src="/onScout/images/scoutPathfinderAward.png">
					</div>
					<div class="offset-1 col-8">
						<div class="container">
							<span class="col-3 textSPA noPadding">Data Completed: </span> <span
								class="col-3 textIn noPadding"></span> <span
								class="offset-1 col-2 textSPA noPadding ">Award Issue
								Date: </span> <span id="SPA10000" class="col-3 textIn noPadding"></span>
						</div>
						<br>
						<div class="col-11 bgSPA infoRadius text-white textJustify">For
							Scouts who are 11 or above and have attained the Membership
							Badge. Sea Scouts must choose 'Sea Acitivites' and Air Scouts
							must choose 'Air Activities' from the electives.</div>
					</div>
				</div>
				<br>
				<h2 class="textSPA text-center font-weight-bold col-12">Task</h2>
				<div class="container" style="padding-bottom: 10px;">
					<div class="row">
						<div class="offset-1 col-10">
							<div id="task">

								<!-- Outdoor Challenge -->
								<div class="panel panel-default">

									<div class="bgSPA infoRadius panel-heading">
										<h5 class="font-weight-bold text-center">
											<a class="text-white noUnderline" data-toggle="collapse"
												data-parent="#task" href="#outdoorChallenge">Outdoor
												Challenge</a>
										</h5>
									</div>


									<div id="outdoorChallenge" class="panel-collapse collapse in">
										<!-- Sub-task: Camp Craft -->
										<div class="container textSPA textTask">
											<div id="SPA11100" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<span>Camp craft</span> (Completed on <span class="textIn"></span>)
												</div>
											</div>

											<div id="SPA11110" class="row lineHeight">
												<div class="col-9 spaceIn">Participate in an overnight
													Scout camp.</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
											<div id="SPA11120" class="row lineHeight">
												<div class="col-9 spaceIn">Pack up a rucksack for a
													weekend camp.</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
											<div id="SPA11130" class="row lineHeight">
												<div class="col-9 spaceIn">Use potentially dangerous
													gears properly, e.g. gas lantern and gas stove, and
													understand the relevant safety procedures.</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
											<div id="SPA11140" class="row lineHeight">
												<div class="col-9 spaceIn">
													Maintain camping gear <br>
													<div class="spaceIn">Clean, organize and store
														personal and patrol camping gear.</div>
												</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
										</div>

										<!-- Sub-task: Camp Craft -->
										<!-- Sub-task: Adventure -->
										<div class="container textSPA textTask">
											<div id="SPA11200" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<span>Adventure</span> (Completed on <span class="textIn"></span>)
												</div>
											</div>

											<div id="SPA11210" class="row lineHeight">
												<div class="col-9 spaceIn">With proper gear and
													accompanied by a friend, complete a day journey of at least
													8 km on foot, or 12 km by bicycle or by boat.</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
											<div id="SPA11220" class="row lineHeight">
												<div class="col-9 spaceIn">
													Know maps and legends <br>
													<div class="spaceIn">Explain the different types of
														maps and their uses, and identify 10 different legend
														symbols shown on the map.</div>
												</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
											<div id="SPA11230" class="row lineHeight">
												<div class="col-9 spaceIn">
													Pack a rucksack for a 1-day journey to the countryside <br>
													<div class="spaceIn">Identify the items for personal
														use and the quantities needed and pack the rucksack based
														on the principles of packing.</div>
												</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
										</div>

										<!-- Sub-task: Adventure -->
										<!-- Sub-task: Pioneering -->
										<div class="container textSPA textTask">
											<div id="SPA11300" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<span>Pioneering</span> (Completed on <span class="textIn"></span>)
												</div>
											</div>
											<div id="SPA11310" class="row lineHeight">
												<div class="col-9 spaceIn">Demonstrate the use of
													knots and hitches commonly used in Scout activities,
													including reef knot,figure of-eight knot, clove hitch, half
													hitch, overhand knot, bowline, sheet bend, round turn and
													two half hitches, timber hitch.</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
											<div id="SPA11320" class="row lineHeight">
												<div class="col-9 spaceIn">
													Learn how to maintain ropes <br>
													<div class="spaceIn">Demonstrate how to coil a rope,
														and understand the importance of proper rope storage.</div>
												</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
										</div>
										<!-- Sub-task: Pioneering -->
										<!-- Sub-task: Outdoor activities (Elective) -->
										<div class="container textSPA textTask">
											<div id="SPA11400" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<span>Outdoor activities (Elective)</span> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="SPA11410" class="row lineHeight">
												<div class="col-9 spaceIn">Know the safey guidelines
													for outdoor activities and the Country Code.</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
											<div id="SPA11420" class="row noPaddingButtom">
												<div class="col-9 spaceIn">Complete one of the
													following activities:</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="SPA11421" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Take part in a tracking activity <br>

												</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
											<div id="SPA11422" class="row noPaddingButtom">
												<div class="col-9 spaceIn2">
													Take part in a park orienteering activity <br>

												</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
											<div id="SPA11423" class="row lineHeight">
												<div class="col-9 spaceIn2">
													Take part in an activity using codes <br>

												</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>

										</div>
										<!-- Sub-task: Outdoor activities (Elective) -->
										<!-- Sub-task: Sea activities (Elective) -->
										<div class="container textSPA textTask">
											<div id="SPA11400" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<span>Sea activities (Elective)</span> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="SPA11410" class="row lineHeight">
												<div class="col-9 spaceIn">Understand the safey
													guidelines for sea activities.</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
											<div id="SPA11420" class="row lineHeight">
												<div class="col-9 spaceIn">Pass the Scout Association
													open water swimming test.</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
										</div>
										<!-- Sub-task: Sea activities (Elective) -->
										<!-- Sub-task: Air activities (elective) -->
										<div class="container textSPA textTask">
											<div id="SPA11400" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<span>Air activities (elective)</span> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="SPA11410" class="row lineHeight">
												<div class="col-9 spaceIn">State the general safety
													rules for passengers in airports and aircrafts
													respectively.</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
											<div id="SPA11420" class="row noPaddingButtom">
												<div class="col-9 spaceIn  noPaddingButtom">
													Complete one item : <br>

												</div>
												<span class="offset-1 col-2 textIn  noPaddingButtom"></span>
											</div>
											<div id="SPA11421" class="row noPaddingButtom">
												<div class="col-9 spaceIn2  noPaddingButtom">
													Take part in an outdoor air activity<br>

												</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
											<div id="SPA11422" class="row noPaddingButtom">
												<div class="col-9 spaceIn2">
													Name the parts of a modern aircraft (including fixed wing,
													helicopter, military aircrafts).<br>

												</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
											<div id="SPA11423" class="row lineHeight">
												<div class="col-9 spaceIn2">
													Know how to identify an aircraft and be able to identify 4
													types of crafts in the Airman badge. <br>

												</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>

										</div>

										<!-- Sub-task: Air activities (elective) -->
									</div>
								</div>
								<!-- Outdoor Activities -->

								<!-- Personal Development -->
								<div class="panel panel-default">
									<div class="bgSPA infoRadius panel-heading">
										<h5 class="font-weight-bold text-center">
											<a class="text-white noUnderline" data-toggle="collapse"
												data-parent="#task" href="#personalDevelopment">Personal
												Development</a>
										</h5>
									</div>


									<div id="personalDevelopment"
										class="panel-collapse collapse in">
										<!-- task: Physical Fitness -->
										<div class="container textSPA textTask">
											<div id="SPA12100" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<span>Physical Fitness</span> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>

											<div id="SPA12110" class="row lineHeight">
												<div class="col-9 spaceIn">Take part in a patrol
													activity involving sports or physical fitness.</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
										</div>
										<!-- task: Physical Fitness -->
										<!-- task: Art, Creativity and Technology -->
										<div class="container textSPA textTask">
											<div id="SPA12200" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<span>Art, Creativity and Technology</span> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>

											<div id="SPA12210" class="row lineHeight">
												<div class="col-9 spaceIn">Know the patrol yell and
													use it in an activity to enhance team spirit.</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
										</div>
										<!-- task: Art, Creativity and Technology -->
										<!-- task: Leadership -->
										<div class="container textSPA textTask">
											<div id="SPA12300" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<span>Leadership</span> (Completed on <span class="textIn"></span>)
												</div>
											</div>

											<div id="SPA12310" class="row lineHeight">
												<div class="col-9 spaceIn">Participate in one Patrol
													meeting and state the purpose in organizing Patrol meeting.</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
										</div>
										<!-- task: Leadership -->
										<!-- task: Spiritual Development -->
										<div class="container textSPA textTask">
											<div id="SPA12400" class="row">
												<div class="font-weight-bold lineHeight textBigger">
													<span>Spiritual Development</span> (Completed on <span
														class="textIn"></span>)
												</div>
											</div>
											<div id="SPA12410" class="row lineHeight">
												<div class="col-9 spaceIn">Share personal experience
													in daily life on the subject of the Scout Law and Promise.</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
											<div id="SPA12420" class="row lineHeight">
												<div class="col-9 spaceIn">Take part in a Scouts' own.</div>
												<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
											</div>
										</div>
										<!-- task: Spiritual Development -->
									</div>
									<!-- Personal Development -->
									<!-- Society -->
									<div class="panel panel-default">
										<div class="bgSPA infoRadius ">
											<h5 class="font-weight-bold text-center">
												<a class="text-white noUnderline" data-toggle="collapse"
													data-parent="#task" href="#society">Society</a>
											</h5>
										</div>


										<div id="society" class="panel-collapse collapse in">
											<!-- task: Service -->
											<div class="container textSPA textTask">
												<div id="SPA13100" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<span>Service</span> (Completed on <span class="textIn"></span>)
													</div>
												</div>

												<div id="SPA13110" class="row lineHeight">
													<div class="col-9 spaceIn">Know and demonstrate how
														to handle accidents, e.g. nose bleed, burns, cuts and
														thorns, etc.</div>
													<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
												</div>

												<div id="SPA13120" class="row noPaddingButtom">
													<div class="col-9 spaceIn">Participate in a community
														service of at least 4 hours.</div>
													<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
												</div>
												<div id="SPA13121" class="row noPaddingButtom">
													<div class="col-9  spaceIn2">
														Complete service of at least 4 hours approved by the Scout
														Leader, District, Region or Association headquarters. <br>
													</div>
												</div>
												<div id="SPA13122" class="row lineHeight">
													<div class="col-9  spaceIn2">
														Record the details of the service, such as the
														organization, targets, time and location; and share the
														personal experience and feeling with other patrol members.
														<br>
													</div>
												</div>
											</div>
											<!-- task: Service -->
											<!-- task: Community -->
											<div class="container textSPA textTask">
												<div id="SPA13200" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<span>Community</span> (Completed on <span class="textIn"></span>)
													</div>
												</div>
												<div id="SPA13210" class="row lineHeight">
													<div class="col-9 spaceIn">Using city-tracking,
														pictures, photos, sketches, atlas, online maps or other
														means, introduce to patrol members the community
														facilities near your home or troop base, e.g. police
														station, hospital, fire station, district office and
														public transport etc.</div>
													<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
												</div>
											</div>
											<!-- task: Community -->
										</div>
									</div>
									<!-- Society -->

									<!-- Environment -->
									<div class="panel panel-default">
										<div class="bgSPA infoRadius">
											<h5 class="font-weight-bold text-center">
												<a class="text-white noUnderline" data-toggle="collapse"
													data-parent="#task" href="#environment"> Environment</a>
											</h5>
										</div>

										<div id="environment" class="panel-collapse collapse in">
											<!-- task: Nature -->
											<div class="container textSPA textTask">
												<div id="SPA14100" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<span>Nature</span> (Completed on <span class="textIn"></span>)
													</div>
												</div>
												<div id="SPA14110" class="row noPaddingButtom">
													<div class="col-9 spaceIn">Visit an exhibition or a
														place on the subject of nature environment or habitat</div>
													<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
												</div>
												<div id="SPA14111" class="row lineHeight">
													<div class="col-9  spaceIn2">
														Together with patrol memebers, visit a relevant exhibition
														or place, e.g. Mai Po Nature Conservation Area, Sai Kung
														Coastal Park, Wetland Park, an organic farm or nature
														trail etc.<br>
													</div>
												</div>
											</div>
											<!-- task: Nature -->
											<!-- task: Meterology -->
											<div class="container textSPA textTask">
												<div id="SPA14200" class="row">
													<div class="font-weight-bold lineHeight textBigger">
														<span>Meterology</span> (Completed on <span class="textIn"></span>)
													</div>
												</div>
												<div id="SPA14210" class="row noPaddingButtom">
													<div class="col-9 spaceIn">Understand the difference
														between weather and climate and list their effects on
														outdoor activities</div>
													<div class="input-group col-3 "><input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="basic-addon2"><div class="input-group-append"><button name="dateSubmit" class="dateSubmit btn btn-primary" type="button"><i class="fas fa-check"></i></button></div></div>
												</div>
												<div id="SPA14211" class="row lineHeight">
													<div class="col-9  spaceIn2">
														State the difference between weather and climate and
														briefly introduce the climate of HK, state the effects of
														various elements of weather, e.g. temperature, pressure,
														wind speed, humidity, rainfall, on outdoor scouting
														activities.<br>
													</div>
												</div>
												<!-- task: Meterology -->

											</div>
											<!-- Environment -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- Pathfinder Award -->
</span>
