<!DOCTYPE html>
<html>
<head>
<meta charset="BIG5">
<title>Scouter - Edit Profile</title>
<div lang="en" th:replace="General/nav :: head"></div>

</head>
<body>
	<div class="d-flex" id="wrapper">
		<nav th:include="General/scouterNav :: nav"></nav>
		<!-- V This is Content V -->
		<!-- ------------------- -->
		
		<div class="container-fluid">
		<br>
			<form>
			<div class="row justify-content-center mb-1">
				<div class="col-12">
					<h1 style="text-align: center;">Your Profile</h1>
				</div>
				<div class="col-8 text-right">
					<a href="#" onclick="enable()"class="btn btn-primary"> Edit Profile </a>
				</div>
			</div>
			<div class="container border border-primary m-auto">
				<div class="form-row">
					<div class="form-group col-md-6 col-12">
						<label for="FullName">Email</label><input type="text"
							th:value="'test'"	
							class="form-control" id="FullName" placeholder="Email..." disabled>
					</div>
					<div class="form-group col-md-6 col-12"> <!-- ${user.getFirstName()} + ${user.getLastName()} -->
						<label for="FullName">Phone Number</label><input type="text"
							th:value="'test'"
							class="form-control" id="FullName" placeholder="Phone Number..." disabled>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-4">
						<button id="submit" type="submit" class="btn btn-success" disabled>Submit</button>
					</div>
				</div>
			</div>
			<br />
			</form>
		</div>


		<!-- ------------------- -->
		<!-- ^ This is Content ^ -->
	</div>
</body>



</html>