<!DOCTYPE html>
<html>
<head>
<meta charset="BIG5">
<title>Scouter Home</title>
<div lang="en" th:replace="General/nav :: head"></div>

</head>
<body>
	<div class="d-flex" id="wrapper">
		<nav th:include="General/scouterNav :: nav"></nav>
		<!-- V This is Content V -->
		<!-- ------------------- -->
		<div class="container-fluid">
			<br>
			<div class="row justify-content-center mb-1">
				<div class="col-12">
					<h1 style="text-align: center;">Scout List</h1>
				</div>
			</div>
			<div class="container">
		<br> <br> <br>
		<h1 class="text-center textMain font-weight-bold">Scout
			Progressive Badge</h1>
		<br> <br>
		<div class="row awardRow text-center">
			<div id="pathfinderAward" class="col-3 award">
				<h5 class="textSPA font-weight-bold">Scout Pathfinder Award</h5>
				<br> <img
					src="/onScout/images/scoutPathfinderAward_unfinish.png">
			</div>

			<div id="standardAward" class="col-3">
				<h5 class="textSSA font-weight-bold">Scout Standard Award</h5>
				<br> <img src="/onScout/images/scoutStandardAward_unfinish.png">
			</div>
			<div id="advancedAward" class="col-3">
				<h5 class="textSAA font-weight-bold">Scout Advanced Award</h5>
				<br> <img src="/onScout/images/scoutAdvancedAward_unfinish.png">
			</div>
			<div id="chiefAward" class="col-3">
				<h5 class="textCSA font-weight-bold">Chief Scout's Award</h5>
				<br> <img src="/onScout/images/chiefScout'sAward_unfinish.png">
			</div>
		</div>
	</div>
			<div class="row justify-content-center ">
				<div class="col-8">
					<table class="table" style="text-align: center;">
						<thead class="bg-primary">
							<tr>
								<th scope="col">Scout ID</th>
								<th scope="col">Name</th>
								<th scope="col">Gender</th>
								<th scope="col">Latest Completed Mission</th>
							</tr>
						</thead>
						<tbody>
							<!-- th:onclick="'location.href=\''+ @{/scouter/scoutProcessd/{scoutID} (id=${user.getScoutID()})}+'\''" -->
							<tr th:each="user: ${scoutList}" th:onclick="'location.href=\''+ @{/scouter/scoutProcess/{scoutID} (id=${user.getScoutID()})}+'\''">
								<td th:text="${user.getLastName()}+ ' ' +${user.getFirstName()}"
									scope="row"></td>
								<td th:text="${user.getGender()}"></td>
								<td th:text="${user.getLatestMission()}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<!-- ------------------- -->
		<!-- ^ This is Content ^ -->
	</div>
	
</body>



</html>