<!DOCTYPE html>
<html>
<head>
<meta charset="BIG5">
<title>Scouter Home</title>
<div lang="en" th:replace="General/nav :: head"></div>

</head>
<body>
	<div class="d-flex" id="wrapper">
		<nav th:include="General/scouterNav :: nav"></nav>
		<!-- V This is Content V -->
		<!-- ------------------- -->
		<div class="container-fluid">
		<br>
			<div class="row justify-content-center mb-1">
				<div class="col-12">
					<h1 style="text-align: center;">Scout List</h1>
				</div>
				<div class="col-4 offset-9">
					<a href="#addUser" class="btn btn-primary"> Add Scout </a>
				</div>
			</div>
			<div class="row justify-content-center ">
			<div class="col-8">
				<table class="table" style="text-align: center;">
					<thead class="bg-primary">
						<tr>
							<th scope="col">Scout ID</th>
							<th scope="col">Name</th>
							<th scope="col">Gender</th>
							<th scope="col">Latest Completed Mission</th>
						</tr>
					</thead>
					<tbody>
						<!-- <tr th:each="user : ${userList}" th:onclick="'location.href=/admin/user/read/\''+${user.getUserID()}+'\'"> -->
						<tr th:each="user: ${userList}">
							<td scope="col"><a
								th:href="@{admin/delUser/}+ ${user.getUsername()}"><i
									id="logo" class="fas fa-user-minus"></i></a>
							</th>
							<td th:text="${user.getLastName()}+ ' ' +${user.getFirstName()}"
								scope="row"></td>
							<td th:text="${user.getUsername()}"></td>
							<td th:text="${user.getRoleID()}"></td>
							<td th:text="${user.getDOB()}"></td>
							<td th:text="${user.getEmail()}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>


			<!-- ------------------- -->
			<!-- ^ This is Content ^ -->
		</div>
		<div class="text-center overlay" id="addUser">
		<br> <br>
		<div class="container p-3 rounded col-sm-10 col-md-7 col-lg-6">
			<div class="shadow border bg-white rounded">
				<br> <span class="loginBrand">On Scout</span> <br>
				<h1 class="loginTitle textcolor">Add User</h1>
				<hr>
				<br>
				<div class="container">
					<form  th:action="@{/scouter/createUser}" method="POST"><!-- th:object="${addUser}" -->
						<div class="container">
							<div class="form-row justify-content-center">
								<div class="form-group col-md-4">
									<label for="inputState">User type</label> <!-- th:field="*{roleID} " --> <select
										id="userType" class="form-control">
										<option th:value="1" selected>Scout</option>
										<option th:value="2">Scouter</option>
									</select>
								</div>
							</div>
							<div class="form-group row ">
								<label for="Username" class="col-sm-12 col-form-label textcolor">Username
								</label>
								<div class="col-sm-12">
									<input type="text" class="form-control" id="Username"
										name="username" placeholder="Username" th:value="*{username}"
										required>
								</div>
								<label for="Password" class="col-sm-12 col-form-label textcolor">Password
								</label>
								<div class="col-sm-12">
									<input type="Password" class="form-control" id="Password"
										name="Password" placeholder="Password" th:value="*{password}"
										required>
								</div>
							</div>
							<br>
							<button type="submit" class="btn btn-primary col-sm-12">Submit</button>
							<a th:href="@{scouter}" class="btn btn-link col-sm-12">Cancel</a>

						</div>
						<br> <br>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>



</html>