<!DOCTYPE html>
<html>
<head>
<meta charset="BIG5">
<title>Scouter Home</title>
<div lang="en" th:replace="General/nav :: head"></div>
<script>
$(document).ready(function(){
	$('input').prop('disabled',true);
});
</script>
</head>
<body>
<form method="POST" th:object="${userInfo}" th:action="@{/scouter/editScouterProfileProcess/}">
	<div class="d-flex" id="wrapper">
	<br>
		<nav th:include="General/scouterNav :: nav"></nav>
		<!-- V This is Content V -->
		<!-- ------------------- -->
		<div class="container-fluid">
		<div class="row justify-content-center mb-1">
			<div class="col-12">
				<h1 style="text-align: center;">Scout Information</h1>
			</div>
		
			<div class="col-lg-2 text-center">
					<button type="button" onclick="enable()" class="btn btn-primary"> Edit Profile </button>
				</div>
				<div class="col-2 text-right">
						<button id="submit" type="submit" class="btn btn-success" disabled>  Submit  </button>
					</div>
		</div>
		
		<div class="container border border-primary m-auto">
			<div class="container row">
				<div class="col-12 col-lg-6 text-center mt-4"
					style="font-size: 20px;">
					<b>Username: </b>
					<text th:text="${userInfo.getUsername()}"></text>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 text-center mt-2"
					style="font-size: 20px;">
					<b>First Name: </b>
					<input type="text" th:field="*{firstName}" class="form-control" th:value="${userInfo.getFirstName()}">
				</div>
				<div class="col-12 col-sm-6 col-lg-3 text-center mt-2"
					style="font-size: 20px;">
					<b>Last Name: </b>
					<input type="text" th:field="*{lastName}" class="form-control" th:value="${userInfo.getLastName()}">
				</div>
			</div>
			<hr />
			<div class="container row">
				<div class="col-12 text-center font-weight-bolder"
					style="font-size: 20px;" th:text="'Personal Information'"></div>
			</div>
			<br /> <br />
			<div class="container row">
				<div class="col-lg-4 col-12">
					<b>Date of Birth: </b>
					<input type="date" th:field="*{DOB}" class="form-control" th:value="${userInfo.getDOB()}">
				</div>
				
				<div class="col-lg-5 col-12 text-left">
					<b>Gender: </b>
					<input type="text" th:field="*{gender}" class="form-control" th:value="${userInfo.getGender()}">
				</div>
			</div>
			<br />
			<div class="container row">
				<div class="col-lg-4 col-12">
					<b>HKID Card No: </b>
					<input type="text" th:field="*{HKID}" class="form-control" th:value="${userInfo.getHKID()}">
				</div>
				
				<div class="col-lg-5 col-12 text-left">
					<b>Address: </b>
					<input type="text" th:field="*{address}" class="form-control" th:value="${userInfo.getAddress()}">
				</div>
			</div>
			<br /> <br />
			<hr />
			<div class="container row">
				<div class="col-12 text-center  font-weight-bolder"
					style="font-size: 20px;" th:text="'Scout Information'"></div>
			</div>
			<br /> <br />
			<div class="container row">
				<div class="col-lg-2 col-12">
					<b>Unit: </b>
					<input type="text" th:field="*{region}" class="form-control" th:value="${userInfo.getRegion()}">
				</div>
				<div class="col-lg-2 col-12">
					<b>District: </b>
					<input type="text" th:field="*{district}" class="form-control" th:value="${userInfo.getDistrict()}">
				</div>
				<div class="col-lg-2 col-12">
					<b>Scout Gruop: </b>
					<input type="text" th:field="*{scoutGroup}" class="form-control" th:value="${userInfo.getScoutGroup()}">
				</div>
				<div class="col-lg-6 col-12 text-left">
					<b>Date of Investiture: </b>
					<input type="date" th:field="*{DOI}" class="form-control" th:value="${userInfo.getDOI()}">
				</div>
			</div>
			<br /> <br />
			<hr />
			<div class="container row">
				<div class="col-lg-2">&nbsp;</div>
				<div class="col-lg-8 text-center  font-weight-bolder"
					style="font-size: 20px;" th:text="'Contact Information'"></div>
				
			</div>
			<br /> <br />
			<div class="container form-row">
				<div class="form-group col-md-5">
					<b><label for="ContactNo">Contact Number</label></b> <input
						type="text" class="form-control" id="Contact" th:field="*{phoneNum}"
						th:value="${userInfo.getPhoneNum()}" placeholder="Contact Number..." disabled>
				</div>
				<div class="form-group col-md-1">&nbsp;</div>
				<div class="form-group col-md-5">
					<b><label for="Email">Email</label> </b><input type="text" name="email"
						th:field="*{email}" th:value="${userInfo.getEmail()}" class="form-control" id="Email" placeholder="Email..." disabled>
				</div>
				<div class="form-group col-md-1">&nbsp;</div>
			</div>
			<br />
			<hr />
			<div class="container row">
				<div class="col-12 text-center font-weight-bolder"
					style="font-size: 20px;" th:text="'Emergency Contact'"></div>
			</div>
			<br /> <br />
			<span th:each="emer: ${emerList}">
			<div class="container ">
			
				<form>
				<div class="form-row">
				<div class="form-group col-lg-2 col-12">
					<b>Emergency Name: </b>
					<input type="text" class="form-control" th:value="${emer.getEmerName()}">
				</div>
				<div class="form-group col-lg-2 col-12 text-left">
					<b>Relationship: </b>
					<input type="text" class="form-control" th:value="${emer.getEmerRelation()}">
				</div>
				<div class="form-group col-lg-4 col-12">
					<b>Emergency Contact Number: </b>
					<input  type="text" class="form-control" th:value="${emer.getEmerTel()}">
				</div>
				<div class="form-group col-lg-2 mt-2">
					<button type="button" onclick="enable()" class="btn btn-primary"> Edit Profile </button>
				</div>
				<div class="form-group col-lg-2 mt-2">
						<button id="submit2" type="submit" class="btn btn-success" disabled>  Submit  </button>
				</div>
				</div>
				</form>
			</div>
			</span>	
			<br /> <br />
		</div>
		
		<br />
	</div>
		

		<!-- ------------------- -->
		<!-- ^ This is Content ^ -->
	</div>
	</form>
</body>
</html>