<!DOCTYPE html>
<html>
<head>
<meta charset="BIG5">
<title>Scouter Home</title>
<div lang="en" th:replace="General/nav :: head"></div>

</head>
<body>
	<div class="d-flex" id="wrapper">
	<br>
		<nav th:include="General/scouterNav :: nav"></nav>
		<!-- V This is Content V -->
		<!-- ------------------- -->
		<div class="container-fluid">
		<div class="row justify-content-center mb-1">
			<div class="col-12">
				<h1 style="text-align: center;">Scout Information</h1>
			</div>
		</div>
		<div class="container border border-primary m-auto">
			<div class="container row">
				<div class="col-12 col-lg-6 text-center mt-2"
					style="font-size: 20px;">
					<b>Scout ID: </b>
					<text th:text="${userInfo.getUsername()}"></text>
				</div>
				<div class="col-12 col-lg-4 text-center mt-2"
					style="font-size: 20px;">
					<b>Full Name: </b>
					<text th:text="${userInfo.getFirstName()}+' '+${userInfo.getLastName()}">
				</div>
			</div>
			<hr />
			<div class="container row">
				<div class="col-12 text-center font-weight-bolder"
					style="font-size: 20px;" th:text="'Personal Information'"></div>
			</div>
			<br /> <br />
			<div class="container row">
				<div class="col-lg-4 col-12">
					<b>Date of Birth: </b>
					<text th:text="${userInfo.getDOB()}"></text>
				</div>
				
				<div class="col-lg-5 col-12 text-left">
					<b>Gender: </b>
					<text th:text="${userInfo.getGender()}"></text>
				</div>
			</div>
			<br />
			<div class="container row">
				<div class="col-lg-4 col-12">
					<b>HKID Card No: </b>
					<text th:text="${userInfo.getHKID()}"></text>
				</div>
				<div class="col-lg-3 col-12 text-left">
					<b>Region: </b>
					<text th:text="${userInfo.getRegion()}"></text>
				</div>
				<div class="col-lg-5 col-12 text-left">
					<b>Address: </b>
					<text th:text="${userInfo.getAddress()}"></text>
				</div>
			</div>
			<br /> <br />
			<hr />
			<div class="container row">
				<div class="col-12 text-center  font-weight-bolder"
					style="font-size: 20px;" th:text="'Scout Information'"></div>
			</div>
			<br /> <br />
			<div class="container row">
				<div class="col-lg-6 col-12">
					<b>Unit: </b>
					<text th:text="userInfo.getRegion()"></text>
				</div>
				<div class="col-lg-6 col-12 text-left">
					<b>Date of Investiture: </b>
					<text th:text="'04 - 04 - 2019'"></text>
				</div>
			</div>
			<br /> <br />
			<hr />
			<div class="container row">
				<div class="col-lg-2">&nbsp;</div>
				<div class="col-lg-8 text-center  font-weight-bolder"
					style="font-size: 20px;" th:text="'Contact Information'"></div>
				<div class="col-lg-2 text-center">
					<button onclick="enable()" class="btn btn-primary"> Edit Profile </button>
				</div>
			</div>
			<br /> <br />
			<div class="form-row">
				<div class="form-group col-md-5">
					<b><label for="ContactNo">Contact Number</label></b> <input
						type="text" class="form-control" id="Contact"
						placeholder="Contact Number..." disabled>
				</div>
				<div class="form-group col-md-1">&nbsp;</div>
				<div class="form-group col-md-5">
					<b><label for="Email">Email</label> </b><input type="text"
						class="form-control" id="Email" placeholder="Email..." disabled>
				</div>
				<div class="form-group col-md-1">&nbsp;</div>
			</div>
				<div class="form-row">
				<div class="form-group col-md-1">&nbsp;</div>
					<div class="form-group col-10 text-right">
						<button id="submit" type="submit" class="btn btn-success" disabled>  Submit  </button>
					</div>
				</div>
			<br />
			<hr />
			<div class="container row">
				<div class="col-12 text-center font-weight-bolder"
					style="font-size: 20px;" th:text="'Emergency Contact'"></div>
			</div>
			<br /> <br />
			<div class="container row">
				<div class="col-lg-4 col-12">
					<b>Emergency Name: </b>
					<text th:text="'Chan Chan Chan'"></text>
				</div>
				<div class="col-lg-3 col-12 text-left">
					<b>Relationship: </b>
					<text th:text="'Parent'"></text>
				</div>
				<div class="col-lg-5 col-12">
					<b>Emergnecy Contact Number: </b>
					<text th:text="'852 - 13121231'"></text>
				</div>
			</div>
			<br /> <br />
		</div>
		<br />
	</div>
		

		<!-- ------------------- -->
		<!-- ^ This is Content ^ -->
	</div>
</body>
</html>