<!DOCTYPE html>
<html>
<head>
<meta charset="BIG5">
<title>Scout Management System</title>
<div lang="en" th:replace="General/nav :: head"></div>

</head>
<body>
	<div class="d-flex" id="wrapper">
		<nav th:include="General/scouterNav :: nav"></nav>
		<!-- V This is Content V -->
		<!-- ------------------- -->
		<div class="container-fluid">
			<br>
			<div class="row justify-content-center mb-1">
				<div class="col-12">
					<h1 style="text-align: center;">Scout List</h1>
				</div>
				<div class="col-4 offset-9">
					<a href="#addUser" class="btn btn-primary"> Add Scout </a>
				</div>
			</div>
			<div class="row justify-content-center ">
				<div class="col-8">
					<table class="table" style="text-align: center;">
						<thead class="bg-primary">
							<tr>
								<th scope="col">Username</th>
								<th scope="col">Name</th>
								<th scope="col">Gender</th>
								<th scope="col">Email</th>
								<th scope="col">Emergency Contact</th>
							</tr>
						</thead>
						<tbody>
							<!-- th:onclick="'location.href=\''+ @{/scouter/scoutProcessd/{scoutID} (id=${user.getScoutID()})}+'\''" -->
							<tr th:each="user: ${userList}" th:onclick="'location.href=\''+ @{/scouter/scoutManage/{Username} (Username=${user.getUsername()})}+'\''">
								<td th:text="${user.getUsername()}"></td>
								<td th:text="${user.getLastName()}+ ' ' +${user.getFirstName()}"
									scope="row"></td>
								<td th:text="${user.getGender()}"></td>
								<td th:text="${user.getEmail()}"></td>
								<td th:text="${user.getEmerTel()}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<!-- ------------------- -->
		<!-- ^ This is Content ^ -->
	</div>
	<div class="text-center overlay" id="addUser">
		<br> <br>
		<div class="container p-3 rounded col-sm-10 col-md-7 col-lg-6">
			<div class="shadow border bg-white rounded">
				<br> <span class="loginBrand">On Scout</span> <br>
				<h1 class="loginTitle textcolor">Add User</h1>
				<hr>
				<br>
				<div class="container">
					<form th:action="@{/scouter/createUser}" method="POST">
						<!-- th:object="${addUser}" -->
						<div class="container">
							<div class="form-group row ">
								<label for="Username" class="col-sm-12 col-form-label textcolor">Username
								</label>
								<div class="col-sm-12">
									<input type="text" class="form-control" id="Username"
										name="username" placeholder="Username" th:value="*{username}"
										required>
								</div>
							</div>
							<span style="color:red" class="errorText"
							th:text="${message != null} ? ${message} : ''"></span>
							<br>
							<br>
							<button type="submit" class="btn btn-primary col-sm-12">Submit</button>
							<a th:href="@{scoutManage}" class="btn btn-link col-sm-12">Cancel</a>

						</div>
						<br> <br>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>



</html>