<!DOCTYPE html>
<html>
<head>
<meta charset="BIG5">
<title>Show Award Requirement</title>
<div lang="en" th:replace="General/nav :: head"></div>

</head>
<body>
	<div class="d-flex" id="wrapper">
		<br>
		<nav th:include="General/scouterNav :: nav"></nav>

		<!-- V This is Content V -->
		<!-- ------------------- -->
		<div class="container ">
		<br>
			<div class="row justify-content-center mb-1">
				<div class="col-12">
					<h1 style="text-align: center;">Scout Progressive Badge</h1>
				</div>
			</div>
				<div class="row awardRow text-center">
					<div id="pathfinderAward" class="col-12 col-sm-6 col-md-3 award">
						<h5 class="textSPA font-weight-bold">Scout Pathfinder Award</h5>
						<br> <img onclick="changePdf" id="ScoutPathfinderAward"
							src="/onScout/images/scoutPathfinderAward.png">
					</div>

					<div id="standardAward" class="col-12 col-sm-6 col-md-3">
						<h5 class="textSSA font-weight-bold">Scout Standard Award</h5>
						<br> <img onclick="changePdf" id="ScoutStandardAward"
							src="/onScout/images/scoutStandardAward.png">
					</div>
					<div id="advancedAward" class="col-12 col-sm-6 col-md-3">
						<h5 class="textSAA font-weight-bold">Scout Advanced Award</h5>
						<br> <img onclick="changePdf" id="ScoutAdvancedAward"
							src="/onScout/images/scoutAdvancedAward.png">
					</div>
					<div id="chiefAward" class="col-12 col-sm-6 col-md-3">
						<h5 class="textCSA font-weight-bold">Chief Scout's Award</h5>
						<br> <img onclick="changePdf" id="ChiefScoutsAward"
							src="/onScout/images/chiefScout'sAward.png">
					</div>
				</div>
			<br>
			<div class="row justify-content-center ">
				<div class="col-12">
					<iframe id="pdf" th:src="@{/scouter/showPDF/ScoutPathfinderAward}"></iframe>
				</div>
			</div>


		</div>



		<!-- ------------------- -->
		<!-- ^ This is Content ^ -->
	</div>
</body>



</html>